catebi-feedback.json
{
  "updatedAt": "2026-01-23T05:18:19.423Z",
  "createdAt": "2025-12-09T07:01:52.897Z",
  "id": "JUsbCQX9ptL9iGiv",
  "name": "Catebi Feedback",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        0
      ],
      "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        320
      ],
      "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mark": "={{ $json.callback_query.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        512,
        416
      ],
      "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
      "name": "Insert mark"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
      "name": "Insert text feedback"
    },
    {
      "parameters": {
        "chatId": "={{ $node['Evaluation'].json.message.chat.id }}",
        "text": "Спасибо большое за обратную связь!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
      "name": "Thanks",
      "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        320
      ],
      "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
      "name": "Evaluation",
      "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001938190303",
        "text": "Как вам сегодня волонтёрилось?\n\nНапишите анонимный отзыв мне в личку или выберите оценку ниже:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хорошо",
                    "additionalFields": {
                      "callback_data": "5"
                    }
                  },
                  {
                    "text": "Плохо",
                    "additionalFields": {
                      "callback_data": "1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Нормально",
                    "additionalFields": {
                      "callback_data": "3"
                    }
                  },
                  {
                    "text": "Я ничего не делал:а",
                    "additionalFields": {
                      "callback_data": "-1"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
      "name": "Daily Feedback Prompt",
      "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
              "leftValue": "={{ $json[\"callback_query\"]}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        416
      ],
      "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $node['Evaluation'].json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "Спасибо за ответ!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        416
      ],
      "id": "466a26a1-6192-42ae-8738-1128973dd228",
      "name": "Answer Query a callback",
      "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "feedback sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        736,
        224
      ],
      "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "mark sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        960,
        416
      ],
      "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "poll sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        288,
        0
      ],
      "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
      "name": "Execution Data2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        1024
      ],
      "id": "7fb06033-0005-4402-af24-e8b68e53462d",
      "name": "Calculate Feedback"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "mark",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        64,
        832
      ],
      "id": "62608bf8-5812-4512-a4e2-9bf437ccf540",
      "name": "Get marks"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "text_feedback",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        576,
        1216
      ],
      "id": "e53b3fab-bc72-40a0-9b82-7739e6ec8149",
      "name": "Get feedback",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text_feedback",
              "separateBy": "other",
              "customSeparator": "={{'\\n'}}------------------------------{{'\\n'}}"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        960,
        1216
      ],
      "id": "d3e5d607-41a6-4c23-8a83-7ce0e6cfd191",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a143e0ec-2b70-49b2-8f35-c58341fb7974",
              "leftValue": "={{ $json.createdAt }}",
              "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        512,
        640
      ],
      "id": "89e9909a-7493-4fec-b042-bebe183a9125",
      "name": "Get Today Marks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a143e0ec-2b70-49b2-8f35-c58341fb7974",
              "leftValue": "={{ $json.createdAt }}",
              "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().minus(1, 'days').format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "8454a9fb-e174-423c-b9a6-2aaef0dacdc5",
              "leftValue": "={{ $json.createdAt }}",
              "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        512,
        832
      ],
      "id": "4322accb-c443-49bd-95bc-8dc9d779c7b7",
      "name": "Get Yesterday Marks"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            },
            {
              "field": "mark"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        736,
        640
      ],
      "id": "9c124026-bbbc-48a7-8bd5-e8b070bfd6ed",
      "name": "Today Mark Summary"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            },
            {
              "field": "mark"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        736,
        832
      ],
      "id": "b49d1a0b-c37e-4cbe-a294-b27f4b364ae9",
      "name": "Yesterday Mark Summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d835e799-ec06-463e-8c36-0fd48014df19",
              "name": "date",
              "value": "={{ $node['Get marks'].json.createdAt.toDateTime().format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        832
      ],
      "id": "6907c35d-ad39-4fdc-818b-834627e43873",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            }
          ]
        },
        "fieldsToSplitBy": "date",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        512,
        1024
      ],
      "id": "6f2b5f49-a549-400b-bb19-80b8a499c138",
      "name": "Historical Data"
    },
    {
      "parameters": {
        "chartType": "line",
        "labelsMode": "array",
        "labelsArray": "={{ $json.date }}",
        "data": "={{ $json.average_mark }}",
        "output": "chart",
        "chartOptions": {
          "format": "png"
        },
        "datasetOptions": {
          "fill": false,
          "label": "Feedback"
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        960,
        1024
      ],
      "id": "b536cf61-c2cf-41ad-8f84-e015b19e3553",
      "name": "QuickChart"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "date"
            },
            {
              "fieldToAggregate": "average_mark"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        1024
      ],
      "id": "27552da8-fab9-4330-a9cc-4228540f4e2f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3e42e02-d5a6-466a-a04b-b359a1b38ac6",
              "name": "average_comment",
              "value": "={{\n  (() => {\n    const t = $json.average_mark_1;\n    const y = $json.average_mark_2;\n\n    if (y === 0) {\n      return 'Прошедший день волонтёр:ки оценили на ${t.toFixed(2)}.';\n    }\n\n    const pct = ((t - y) / y) * 100;\n\n    return `Прошедший день волонтёр:ки оценили на ${t.toFixed(2)}.\nЭто на ${pct.toFixed(0)}% ${pct >= 0 ? 'лучше' : 'хуже'}, чем предыдущий день.`;\n  })()\n}}\n",
              "type": "string"
            },
            {
              "id": "0b14ec85-9e1c-498f-8db1-f349275bfc48",
              "name": "responders_comment",
              "value": "={{   (() => {     const t = $json.count_mark_1;     const y = $json.count_mark_2;      if (y === 0) {       return 'Оценивало ${t} респондент:ок.';     }      const pct = ((t - y) / y) * 100;      return `Оценивало ${t} респондент:ок.\nЭто на ${pct.toFixed(0)}% ${pct >= 0 ? 'лучше' : 'хуже'}, чем в предыдущий день.`;   })() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        752
      ],
      "id": "d7eb6e68-5e26-4542-8ce9-bd4aa70303fa",
      "name": "Diff"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001938190303",
        "binaryData": true,
        "binaryPropertyName": "chart",
        "additionalFields": {
          "caption": "={{ $node['Diff'].json.average_comment + '\\n' + $node['Diff'].json.responders_comment + '\\n\\nКомментарии:\\n'}} {{$json.concatenated_text_feedback.slice(0, 800) ?? '(пусто)' }}",
          "fileName": "chart.png",
          "parse_mode": "Markdown",
          "message_thread_id": 354496
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        1008
      ],
      "id": "4fae7b89-86d5-4c78-b59a-db9dd0889055",
      "name": "Send a photo message",
      "webhookId": "9590a2fa-e1c8-494b-be6b-d515ed2b9ccf",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        992
      ],
      "id": "8b2b9810-663a-4b7b-9447-49983b6528d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        720
      ],
      "id": "3175fb6f-136a-4068-8c9d-550fc9550e8a",
      "name": "Merge Values"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Daily Feedback Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert text feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert mark": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert text feedback": {
      "main": [
        [
          {
            "node": "Thanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Feedback Prompt": {
      "main": [
        [
          {
            "node": "Execution Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert mark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Feedback": {
      "main": [
        [
          {
            "node": "Get marks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get feedback": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get marks": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Marks": {
      "main": [
        [
          {
            "node": "Today Mark Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday Marks": {
      "main": [
        [
          {
            "node": "Yesterday Mark Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yesterday Mark Summary": {
      "main": [
        [
          {
            "node": "Merge Values",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Today Marks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Yesterday Marks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Historical Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today Mark Summary": {
      "main": [
        [
          {
            "node": "Merge Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historical Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickChart": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Diff": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Values": {
      "main": [
        [
          {
            "node": "Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Calculate Feedback": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Evaluation": [
      {
        "json": {
          "update_id": 19989050,
          "message": {
            "message_id": 485487,
            "from": {
              "id": 269068640,
              "is_bot": false,
              "first_name": "вика",
              "username": "victoriazotova",
              "language_code": "ru",
              "is_premium": true
            },
            "chat": {
              "id": -1001938190303,
              "title": "CATEBI. Рабочий чат",
              "is_forum": true,
              "type": "supergroup"
            },
            "date": 1766865955,
            "message_thread_id": 7270,
            "reply_to_message": {
              "message_id": 7270,
              "from": {
                "id": 422735299,
                "is_bot": false,
                "first_name": "Leila",
                "username": "BabaLeila",
                "is_premium": true
              },
              "chat": {
                "id": -1001938190303,
                "title": "CATEBI. Рабочий чат",
                "is_forum": true,
                "type": "supergroup"
              },
              "date": 1688142937,
              "message_thread_id": 7270,
              "forum_topic_created": {
                "name": "Наши котики",
                "icon_color": 16766590
              },
              "is_topic_message": true
            },
            "text": "Как же я её ненавижу",
            "is_topic_message": true
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-31T00:00:24.060+04:00",
          "Readable date": "December 31st 2025, 12:00:24 am",
          "Readable time": "12:00:24 am",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "31",
          "Hour": "00",
          "Minute": "00",
          "Second": "24",
          "Timezone": "Asia/Tbilisi (UTC+04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Calculate Feedback": [
      {
        "json": {
          "timestamp": "2026-01-22T23:55:07.038+04:00",
          "Readable date": "January 22nd 2026, 11:55:07 pm",
          "Readable time": "11:55:07 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "22",
          "Hour": "23",
          "Minute": "55",
          "Second": "07",
          "Timezone": "Asia/Tbilisi (UTC+04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ea9ca368-5abc-41ef-817a-46a65839a632",
  "activeVersionId": "79a59d31-4994-43aa-8cf9-a3020210c921",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-12-09T07:01:52.920Z",
      "createdAt": "2025-12-09T07:01:52.920Z",
      "role": "workflow:owner",
      "workflowId": "JUsbCQX9ptL9iGiv",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-31T14:20:50.000Z",
    "createdAt": "2025-12-31T14:20:47.527Z",
    "versionId": "79a59d31-4994-43aa-8cf9-a3020210c921",
    "workflowId": "JUsbCQX9ptL9iGiv",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -160,
          0
        ],
        "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
                "leftValue": "={{ $json.message.chat.type }}",
                "rightValue": "private",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
                "leftValue": "={{ $json.message }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          64,
          320
        ],
        "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
        "name": "If"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "mark": "={{ $json.callback_query.data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          512,
          416
        ],
        "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
        "name": "Insert mark"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          288,
          224
        ],
        "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
        "name": "Insert text feedback"
      },
      {
        "parameters": {
          "chatId": "={{ $node['Evaluation'].json.message.chat.id }}",
          "text": "Спасибо большое за обратную связь!",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          512,
          224
        ],
        "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
        "name": "Thanks",
        "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "callback_query",
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -160,
          320
        ],
        "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
        "name": "Evaluation",
        "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1001938190303",
          "text": "Как вам сегодня волонтёрилось?\n\nНапишите анонимный отзыв мне в личку или выберите оценку ниже:",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Хорошо",
                      "additionalFields": {
                        "callback_data": "5"
                      }
                    },
                    {
                      "text": "Плохо",
                      "additionalFields": {
                        "callback_data": "1"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Нормально",
                      "additionalFields": {
                        "callback_data": "3"
                      }
                    },
                    {
                      "text": "Я ничего не делал:а",
                      "additionalFields": {
                        "callback_data": "-1"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          64,
          0
        ],
        "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
        "name": "Daily Feedback Prompt",
        "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
        "retryOnFail": true,
        "maxTries": 5,
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
                "leftValue": "={{ $json[\"callback_query\"]}}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          288,
          416
        ],
        "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "callback",
          "queryId": "={{ $node['Evaluation'].json.callback_query.id }}",
          "additionalFields": {
            "show_alert": true,
            "text": "Спасибо за ответ!"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          736,
          416
        ],
        "id": "466a26a1-6192-42ae-8738-1128973dd228",
        "name": "Answer Query a callback",
        "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "feedback sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          736,
          224
        ],
        "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
        "name": "Execution Data"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "mark sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          960,
          416
        ],
        "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
        "name": "Execution Data1"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "poll sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          288,
          0
        ],
        "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
        "name": "Execution Data2"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 23,
                "triggerAtMinute": 55
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -160,
          1024
        ],
        "id": "7fb06033-0005-4402-af24-e8b68e53462d",
        "name": "Calculate Feedback"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "mark",
                "condition": "gt",
                "keyValue": "0"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          64,
          832
        ],
        "id": "62608bf8-5812-4512-a4e2-9bf437ccf540",
        "name": "Get marks"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "text_feedback",
                "condition": "isNotEmpty"
              },
              {
                "keyName": "createdAt",
                "condition": "gte",
                "keyValue": "={{ $today }}"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          576,
          1216
        ],
        "id": "e53b3fab-bc72-40a0-9b82-7739e6ec8149",
        "name": "Get feedback",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "text_feedback",
                "separateBy": "other",
                "customSeparator": "={{'\\n'}}------------------------------{{'\\n'}}"
              }
            ]
          },
          "options": {
            "outputFormat": "separateItems"
          }
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          960,
          1216
        ],
        "id": "d3e5d607-41a6-4c23-8a83-7ce0e6cfd191",
        "name": "Summarize"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a143e0ec-2b70-49b2-8f35-c58341fb7974",
                "leftValue": "={{ $json.createdAt }}",
                "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().format('yyyy-MM-dd') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "afterOrEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          512,
          640
        ],
        "id": "89e9909a-7493-4fec-b042-bebe183a9125",
        "name": "Get Today Marks"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a143e0ec-2b70-49b2-8f35-c58341fb7974",
                "leftValue": "={{ $json.createdAt }}",
                "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().minus(1, 'days').format('yyyy-MM-dd') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "afterOrEquals"
                }
              },
              {
                "id": "8454a9fb-e174-423c-b9a6-2aaef0dacdc5",
                "leftValue": "={{ $json.createdAt }}",
                "rightValue": "={{ $('Calculate Feedback').item.json.timestamp.toDateTime().format('yyyy-MM-dd') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          512,
          832
        ],
        "id": "4322accb-c443-49bd-95bc-8dc9d779c7b7",
        "name": "Get Yesterday Marks"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              },
              {
                "field": "mark"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          736,
          640
        ],
        "id": "9c124026-bbbc-48a7-8bd5-e8b070bfd6ed",
        "name": "Today Mark Summary"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              },
              {
                "field": "mark"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          736,
          832
        ],
        "id": "b49d1a0b-c37e-4cbe-a294-b27f4b364ae9",
        "name": "Yesterday Mark Summary"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d835e799-ec06-463e-8c36-0fd48014df19",
                "name": "date",
                "value": "={{ $node['Get marks'].json.createdAt.toDateTime().format('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          832
        ],
        "id": "6907c35d-ad39-4fdc-818b-834627e43873",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              }
            ]
          },
          "fieldsToSplitBy": "date",
          "options": {
            "outputFormat": "separateItems"
          }
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          512,
          1024
        ],
        "id": "6f2b5f49-a549-400b-bb19-80b8a499c138",
        "name": "Historical Data"
      },
      {
        "parameters": {
          "chartType": "line",
          "labelsMode": "array",
          "labelsArray": "={{ $json.date }}",
          "data": "={{ $json.average_mark }}",
          "output": "chart",
          "chartOptions": {
            "format": "png"
          },
          "datasetOptions": {
            "fill": false,
            "label": "Feedback"
          }
        },
        "type": "n8n-nodes-base.quickChart",
        "typeVersion": 1,
        "position": [
          960,
          1024
        ],
        "id": "b536cf61-c2cf-41ad-8f84-e015b19e3553",
        "name": "QuickChart"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "date"
              },
              {
                "fieldToAggregate": "average_mark"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          736,
          1024
        ],
        "id": "27552da8-fab9-4330-a9cc-4228540f4e2f",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c3e42e02-d5a6-466a-a04b-b359a1b38ac6",
                "name": "average_comment",
                "value": "={{\n  (() => {\n    const t = $json.average_mark_1;\n    const y = $json.average_mark_2;\n\n    if (y === 0) {\n      return 'Прошедший день волонтёр:ки оценили на ${t.toFixed(2)}.';\n    }\n\n    const pct = ((t - y) / y) * 100;\n\n    return `Прошедший день волонтёр:ки оценили на ${t.toFixed(2)}.\nЭто на ${pct.toFixed(0)}% ${pct >= 0 ? 'лучше' : 'хуже'}, чем предыдущий день.`;\n  })()\n}}\n",
                "type": "string"
              },
              {
                "id": "0b14ec85-9e1c-498f-8db1-f349275bfc48",
                "name": "responders_comment",
                "value": "={{   (() => {     const t = $json.count_mark_1;     const y = $json.count_mark_2;      if (y === 0) {       return 'Оценивало ${t} респондент:ок.';     }      const pct = ((t - y) / y) * 100;      return `Оценивало ${t} респондент:ок.\nЭто на ${pct.toFixed(0)}% ${pct >= 0 ? 'лучше' : 'хуже'}, чем в предыдущий день.`;   })() }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          752
        ],
        "id": "d7eb6e68-5e26-4542-8ce9-bd4aa70303fa",
        "name": "Diff"
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "-1001938190303",
          "binaryData": true,
          "binaryPropertyName": "chart",
          "additionalFields": {
            "caption": "={{ $node['Diff'].json.average_comment + '\\n' + $node['Diff'].json.responders_comment + '\\n\\nКомментарии:\\n'}} {{$json.concatenated_text_feedback ?? '(пусто)' }}",
            "fileName": "chart.png",
            "parse_mode": "Markdown",
            "message_thread_id": 354496
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2016,
          1008
        ],
        "id": "4fae7b89-86d5-4c78-b59a-db9dd0889055",
        "name": "Send a photo message",
        "webhookId": "9590a2fa-e1c8-494b-be6b-d515ed2b9ccf",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {
            "includeUnpaired": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1680,
          992
        ],
        "id": "8b2b9810-663a-4b7b-9447-49983b6528d3",
        "name": "Merge"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {
            "clashHandling": {
              "values": {
                "resolveClash": "addSuffix"
              }
            }
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1072,
          720
        ],
        "id": "3175fb6f-136a-4068-8c9d-550fc9550e8a",
        "name": "Merge Values"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Daily Feedback Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Insert text feedback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert mark": {
        "main": [
          [
            {
              "node": "Answer Query a callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert text feedback": {
        "main": [
          [
            {
              "node": "Thanks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Feedback Prompt": {
        "main": [
          [
            {
              "node": "Execution Data2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Insert mark",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Thanks": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Answer Query a callback": {
        "main": [
          [
            {
              "node": "Execution Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Feedback": {
        "main": [
          [
            {
              "node": "Get marks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get feedback": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get marks": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Today Marks": {
        "main": [
          [
            {
              "node": "Today Mark Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Yesterday Marks": {
        "main": [
          [
            {
              "node": "Yesterday Mark Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Yesterday Mark Summary": {
        "main": [
          [
            {
              "node": "Merge Values",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get Today Marks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Yesterday Marks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Historical Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Today Mark Summary": {
        "main": [
          [
            {
              "node": "Merge Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Historical Data": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "QuickChart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "QuickChart": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Diff": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Send a photo message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Values": {
        "main": [
          [
            {
              "node": "Diff",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": "Version 79a59d31",
    "description": "",
    "autosaved": false
  },
  "tags": []
}