catebi-feedback.json
{
  "updatedAt": "2025-12-09T19:46:15.000Z",
  "createdAt": "2025-12-09T07:01:52.897Z",
  "id": "JUsbCQX9ptL9iGiv",
  "name": "Catebi Feedback",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        0
      ],
      "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        320
      ],
      "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mark": "={{ $json.callback_query.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        672,
        352
      ],
      "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
      "name": "Insert mark"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
      "name": "Insert text feedback"
    },
    {
      "parameters": {
        "chatId": "={{ $('Private Text Feedback').item.json.message.chat.id }}",
        "text": "Спасибо большое за обратную связь!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
      "name": "Thanks",
      "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
      "credentials": {
        "telegramApi": {
          "id": "zXO69l0C0QyO3V7k",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        320
      ],
      "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
      "name": "Evaluation",
      "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001938190303",
        "text": "Как вам сегодня волонтёрилось?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хорошо",
                    "additionalFields": {
                      "callback_data": "5"
                    }
                  },
                  {
                    "text": "Плохо",
                    "additionalFields": {
                      "callback_data": "1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Нормально",
                    "additionalFields": {
                      "callback_data": "3"
                    }
                  },
                  {
                    "text": "Я ничего не делал:а",
                    "additionalFields": {
                      "callback_data": "-1"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
      "name": "Daily Feedback Prompt",
      "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
              "leftValue": "={{ $json[\"callback_query\"]}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        416
      ],
      "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Evaluation').item.json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "Спасибо за ответ!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        352
      ],
      "id": "466a26a1-6192-42ae-8738-1128973dd228",
      "name": "Answer Query a callback",
      "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "feedback sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        720,
        224
      ],
      "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "mark sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1088,
        352
      ],
      "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "poll sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
      "name": "Execution Data2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Daily Feedback Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert text feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert mark": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert text feedback": {
      "main": [
        [
          {
            "node": "Thanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Feedback Prompt": {
      "main": [
        [
          {
            "node": "Execution Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert mark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Evaluation": [
      {
        "json": {
          "update_id": 19974521,
          "callback_query": {
            "id": "3237476083395397779",
            "from": {
              "id": 753783640,
              "is_bot": false,
              "first_name": "Mariam",
              "last_name": "Avazashvili",
              "username": "mariamvaza",
              "language_code": "ru"
            },
            "message": {
              "message_id": 470589,
              "from": {
                "id": 8540100616,
                "is_bot": true,
                "first_name": "Catebi Feedback",
                "username": "catebi_feedback_bot"
              },
              "chat": {
                "id": -1001938190303,
                "title": "CATEBI. Рабочий чат",
                "is_forum": true,
                "type": "supergroup"
              },
              "date": 1765306954,
              "text": "Как вам сегодня волонтёрилось?\n\nThis message was sent automatically with n8n",
              "entities": [
                {
                  "offset": 32,
                  "length": 41,
                  "type": "italic"
                },
                {
                  "offset": 73,
                  "length": 3,
                  "type": "text_link",
                  "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_92884aadccf56fbf788c9a20300e9ab48e6b030ed4ef5174365f1554550618a5"
                }
              ],
              "link_preview_options": {
                "is_disabled": true
              },
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "Хорошо",
                      "callback_data": "5"
                    },
                    {
                      "text": "Плохо",
                      "callback_data": "1"
                    }
                  ],
                  [
                    {
                      "text": "Нормально",
                      "callback_data": "3"
                    },
                    {
                      "text": "Я ничего не делал:а",
                      "callback_data": "-1"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "3566923692309692588",
            "data": "3"
          }
        }
      }
    ]
  },
  "versionId": "ed16f484-e271-421e-9901-0b5d2ef1c62e",
  "activeVersionId": "ed16f484-e271-421e-9901-0b5d2ef1c62e",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-09T07:01:52.920Z",
      "createdAt": "2025-12-09T07:01:52.920Z",
      "role": "workflow:owner",
      "workflowId": "JUsbCQX9ptL9iGiv",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-09T19:46:15.403Z",
    "createdAt": "2025-12-09T19:46:15.403Z",
    "versionId": "ed16f484-e271-421e-9901-0b5d2ef1c62e",
    "workflowId": "JUsbCQX9ptL9iGiv",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -160,
          0
        ],
        "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
                "leftValue": "={{ $json.message.chat.type }}",
                "rightValue": "private",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
                "leftValue": "={{ $json.message }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          64,
          320
        ],
        "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
        "name": "If"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "mark": "={{ $json.callback_query.data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          672,
          352
        ],
        "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
        "name": "Insert mark"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          288,
          224
        ],
        "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
        "name": "Insert text feedback"
      },
      {
        "parameters": {
          "chatId": "={{ $('Private Text Feedback').item.json.message.chat.id }}",
          "text": "Спасибо большое за обратную связь!",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          512,
          224
        ],
        "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
        "name": "Thanks",
        "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
        "credentials": {
          "telegramApi": {
            "id": "zXO69l0C0QyO3V7k",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "callback_query",
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -160,
          320
        ],
        "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
        "name": "Evaluation",
        "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1001938190303",
          "text": "Как вам сегодня волонтёрилось?",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Хорошо",
                      "additionalFields": {
                        "callback_data": "5"
                      }
                    },
                    {
                      "text": "Плохо",
                      "additionalFields": {
                        "callback_data": "1"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Нормально",
                      "additionalFields": {
                        "callback_data": "3"
                      }
                    },
                    {
                      "text": "Я ничего не делал:а",
                      "additionalFields": {
                        "callback_data": "-1"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          64,
          0
        ],
        "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
        "name": "Daily Feedback Prompt",
        "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
                "leftValue": "={{ $json[\"callback_query\"]}}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          288,
          416
        ],
        "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "callback",
          "queryId": "={{ $('Evaluation').item.json.callback_query.id }}",
          "additionalFields": {
            "show_alert": true,
            "text": "Спасибо за ответ!"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          880,
          352
        ],
        "id": "466a26a1-6192-42ae-8738-1128973dd228",
        "name": "Answer Query a callback",
        "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "feedback sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          720,
          224
        ],
        "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
        "name": "Execution Data"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "mark sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1088,
          352
        ],
        "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
        "name": "Execution Data1"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "poll sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          272,
          0
        ],
        "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
        "name": "Execution Data2"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Daily Feedback Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Insert text feedback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert mark": {
        "main": [
          [
            {
              "node": "Answer Query a callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert text feedback": {
        "main": [
          [
            {
              "node": "Thanks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Feedback Prompt": {
        "main": [
          [
            {
              "node": "Execution Data2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Insert mark",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Thanks": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Answer Query a callback": {
        "main": [
          [
            {
              "node": "Execution Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": null,
    "description": null
  },
  "tags": []
}