catebi-feedback.json
{
  "updatedAt": "2025-12-10T09:40:00.456Z",
  "createdAt": "2025-12-09T07:01:52.897Z",
  "id": "JUsbCQX9ptL9iGiv",
  "name": "Catebi Feedback",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7c48504b-7c83-4460-8511-be228e416dff",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        320
      ],
      "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mark": "={{ $json.callback_query.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        672,
        352
      ],
      "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
      "name": "Insert mark"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mark",
              "displayName": "mark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "text_feedback",
              "displayName": "text_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
      "name": "Insert text feedback"
    },
    {
      "parameters": {
        "chatId": "={{ $('Evaluation').item.json.message.chat.id }}",
        "text": "Спасибо большое за обратную связь!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
      "name": "Thanks",
      "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        320
      ],
      "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
      "name": "Evaluation",
      "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001938190303",
        "text": "Как вам сегодня волонтёрилось?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хорошо",
                    "additionalFields": {
                      "callback_data": "5"
                    }
                  },
                  {
                    "text": "Плохо",
                    "additionalFields": {
                      "callback_data": "1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Нормально",
                    "additionalFields": {
                      "callback_data": "3"
                    }
                  },
                  {
                    "text": "Я ничего не делал:а",
                    "additionalFields": {
                      "callback_data": "-1"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
      "name": "Daily Feedback Prompt",
      "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
              "leftValue": "={{ $json[\"callback_query\"]}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        416
      ],
      "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Evaluation').item.json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "Спасибо за ответ!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        352
      ],
      "id": "466a26a1-6192-42ae-8738-1128973dd228",
      "name": "Answer Query a callback",
      "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
      "credentials": {
        "telegramApi": {
          "id": "MaTjujU76kc0Yc86",
          "name": "Feedback Bot"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "feedback sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        720,
        224
      ],
      "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "mark sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1088,
        352
      ],
      "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "poll sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
      "name": "Execution Data2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        720
      ],
      "id": "10ebedec-43f6-4b31-951e-fdcf342dc8ae",
      "name": "Send Report",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        0
      ],
      "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
      "name": "Send Poll"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "text_feedback",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').toISO() }}"
            },
            {
              "keyName": "createdAt",
              "condition": "lte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').toISO() }}"
            },
            {
              "keyName": "text_feedback",
              "condition": "neq",
              "keyValue": "/start"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        576
      ],
      "id": "9c947bfc-2007-4f01-a098-d04755d31e02",
      "name": "Get text responses"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "mark",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "mark",
              "condition": "gt",
              "keyValue": "0"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').minus({ days: 1 }).toISO() }}"
            },
            {
              "keyName": "createdAt",
              "condition": "lte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').minus({ days: 1 }).toISO() }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        720
      ],
      "id": "494dfe14-f279-4e5a-b7b2-dc97a50ecbe6",
      "name": "Get Yesterday Marks"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "mark",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "mark",
              "condition": "gt",
              "keyValue": "0"
            },
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').toISO() }}"
            },
            {
              "keyName": "createdAt",
              "condition": "lte",
              "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').toISO() }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        896
      ],
      "id": "42408d43-04b2-4895-8935-dc6009a0c1cf",
      "name": "Get Today Marks"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZytHPdzN4WCB2DGq",
          "mode": "list",
          "cachedResultName": "catebi_feedback",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "mark",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "mark",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        400,
        1040
      ],
      "id": "1bb3ecc3-ed1a-4af9-93c0-b0535100a1f2",
      "name": "Get All Marks"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text_feedback",
              "separateBy": "other",
              "customSeparator": "={{'\\n---------------------------\\n'}}"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        592,
        576
      ],
      "id": "efd1cdcd-d3d1-4ea5-8cd7-bd4c5993ca8b",
      "name": "Summarize Text Feedback"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            },
            {
              "field": "mark"
            }
          ]
        },
        "fieldsToSplitBy": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        592,
        720
      ],
      "id": "ef6bbff5-39ea-4766-a773-8ef44f83cd30",
      "name": "Yesterday Marks"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            },
            {
              "field": "mark"
            }
          ]
        },
        "fieldsToSplitBy": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        592,
        880
      ],
      "id": "a13c3b41-68cb-483e-9a8e-cb45b0eef910",
      "name": "Today Marks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ddedc9a-67b2-4738-9daa-a851c601ffde",
              "name": "date",
              "value": "={{ DateTime.fromISO($json.createdAt).setZone('Asia/Tbilisi').startOf('day').toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "mark",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1040
      ],
      "id": "ea074420-5964-4753-913a-1574fff67b7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "mark"
            }
          ]
        },
        "fieldsToSplitBy": "date",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        816,
        1040
      ],
      "id": "b195eb35-4110-476f-9b1a-375849f8fd36",
      "name": "Summarize"
    },
    {
      "parameters": {
        "chartType": "line",
        "labelsMode": "={{ $input.all().map(item => item.json.date) }}",
        "data": "={{ $input.all().map(item => item.json.average_mark) }}",
        "chartOptions": {},
        "datasetOptions": {
          "fill": false
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        1024,
        1040
      ],
      "id": "e03494d8-6f9b-4f0c-995a-a9f7623e629a",
      "name": "QuickChart"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Insert text feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert mark": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert text feedback": {
      "main": [
        [
          {
            "node": "Thanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Feedback Prompt": {
      "main": [
        [
          {
            "node": "Execution Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert mark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Poll": {
      "main": [
        [
          {
            "node": "Daily Feedback Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report": {
      "main": [
        [
          {
            "node": "Get text responses",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Yesterday Marks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today Marks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Marks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get text responses": {
      "main": [
        [
          {
            "node": "Summarize Text Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday Marks": {
      "main": [
        [
          {
            "node": "Yesterday Marks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Text Feedback": {
      "main": [
        []
      ]
    },
    "Yesterday Marks": {
      "main": [
        []
      ]
    },
    "Get Today Marks": {
      "main": [
        [
          {
            "node": "Today Marks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Marks": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Send Poll": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Evaluation": [
      {
        "json": {
          "update_id": 19974606,
          "message": {
            "message_id": 6,
            "from": {
              "id": 83679600,
              "is_bot": false,
              "first_name": "sasha",
              "last_name": "karpov",
              "username": "lejafo",
              "language_code": "en",
              "is_premium": true
            },
            "chat": {
              "id": 83679600,
              "first_name": "sasha",
              "last_name": "karpov",
              "username": "lejafo",
              "type": "private"
            },
            "date": 1765350772,
            "text": "/start",
            "entities": [
              {
                "offset": 0,
                "length": 6,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "2acf90e9-2f9d-45bb-9ba0-b19c4bd677bb",
  "activeVersionId": "2acf90e9-2f9d-45bb-9ba0-b19c4bd677bb",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-09T07:01:52.920Z",
      "createdAt": "2025-12-09T07:01:52.920Z",
      "role": "workflow:owner",
      "workflowId": "JUsbCQX9ptL9iGiv",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-10T09:40:00.460Z",
    "createdAt": "2025-12-10T09:40:00.460Z",
    "versionId": "2acf90e9-2f9d-45bb-9ba0-b19c4bd677bb",
    "workflowId": "JUsbCQX9ptL9iGiv",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6904ae42-0bc8-4145-9ce0-804992c906c2",
                "leftValue": "={{ $json.message.chat.type }}",
                "rightValue": "private",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9b3afe0d-80cd-4063-b0e4-060293d3e087",
                "leftValue": "={{ $json.message }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "7c48504b-7c83-4460-8511-be228e416dff",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/start",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          64,
          320
        ],
        "id": "a674c4d4-3589-4128-81b6-f905efd8652c",
        "name": "If"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "mark": "={{ $json.callback_query.data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          672,
          352
        ],
        "id": "1f952ae0-d0b1-4c45-ac47-763a3896039f",
        "name": "Insert mark"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "text_feedback": "={{ $json.message.text ?? $json.message.caption ?? 'empty message' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mark",
                "displayName": "mark",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text_feedback",
                "displayName": "text_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          288,
          224
        ],
        "id": "b36b99ee-5dd3-408f-a59b-4873ef5d1c3a",
        "name": "Insert text feedback"
      },
      {
        "parameters": {
          "chatId": "={{ $('Evaluation').item.json.message.chat.id }}",
          "text": "Спасибо большое за обратную связь!",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          512,
          224
        ],
        "id": "045aa0de-9c9d-4047-a215-97b0afe80beb",
        "name": "Thanks",
        "webhookId": "ef11edb8-f4e0-4c59-b5f5-a7682bf28f63",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "callback_query",
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -160,
          320
        ],
        "id": "94ceaf91-2a3c-4458-8890-6b468ff0ae13",
        "name": "Evaluation",
        "webhookId": "d2b79117-d84a-4f4b-baca-9fdfde4ae199",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-1001938190303",
          "text": "Как вам сегодня волонтёрилось?",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Хорошо",
                      "additionalFields": {
                        "callback_data": "5"
                      }
                    },
                    {
                      "text": "Плохо",
                      "additionalFields": {
                        "callback_data": "1"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Нормально",
                      "additionalFields": {
                        "callback_data": "3"
                      }
                    },
                    {
                      "text": "Я ничего не делал:а",
                      "additionalFields": {
                        "callback_data": "-1"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          64,
          0
        ],
        "id": "90e0b52d-831e-4feb-882f-33469da1daa2",
        "name": "Daily Feedback Prompt",
        "webhookId": "0dcb140a-90ac-4f7b-8677-d661153b8028",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c9f343f7-7594-4dc2-b95d-8eab4c4492e6",
                "leftValue": "={{ $json[\"callback_query\"]}}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          288,
          416
        ],
        "id": "e303aee7-2e85-4d96-bcba-84b5ecc0a37f",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "callback",
          "queryId": "={{ $('Evaluation').item.json.callback_query.id }}",
          "additionalFields": {
            "show_alert": true,
            "text": "Спасибо за ответ!"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          880,
          352
        ],
        "id": "466a26a1-6192-42ae-8738-1128973dd228",
        "name": "Answer Query a callback",
        "webhookId": "e20781db-b9e0-44dd-a604-bd6fcc44082a",
        "credentials": {
          "telegramApi": {
            "id": "MaTjujU76kc0Yc86",
            "name": "Feedback Bot"
          }
        }
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "feedback sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          720,
          224
        ],
        "id": "a9928334-99d5-41b3-8c8b-1117dca8e196",
        "name": "Execution Data"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "mark sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1088,
          352
        ],
        "id": "64c6a675-3ba5-42c2-9d6d-d1df2e24022f",
        "name": "Execution Data1"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "poll sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          272,
          0
        ],
        "id": "300e8541-900f-4ad0-8b9c-6f53013e3dbb",
        "name": "Execution Data2"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 23,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          176,
          720
        ],
        "id": "10ebedec-43f6-4b31-951e-fdcf342dc8ae",
        "name": "Send Report",
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -160,
          0
        ],
        "id": "056915dc-e9a4-419d-a690-fc6dcc737445",
        "name": "Send Poll"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "text_feedback",
                "condition": "isNotEmpty"
              },
              {
                "keyName": "createdAt",
                "condition": "gte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').toISO() }}"
              },
              {
                "keyName": "createdAt",
                "condition": "lte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').toISO() }}"
              },
              {
                "keyName": "text_feedback",
                "condition": "neq",
                "keyValue": "/start"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          384,
          576
        ],
        "id": "9c947bfc-2007-4f01-a098-d04755d31e02",
        "name": "Get text responses"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "mark",
                "condition": "isNotEmpty"
              },
              {
                "keyName": "mark",
                "condition": "gt",
                "keyValue": "0"
              },
              {
                "keyName": "createdAt",
                "condition": "gte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').minus({ days: 1 }).toISO() }}"
              },
              {
                "keyName": "createdAt",
                "condition": "lte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').minus({ days: 1 }).toISO() }}"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          384,
          720
        ],
        "id": "494dfe14-f279-4e5a-b7b2-dc97a50ecbe6",
        "name": "Get Yesterday Marks"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "mark",
                "condition": "isNotEmpty"
              },
              {
                "keyName": "mark",
                "condition": "gt",
                "keyValue": "0"
              },
              {
                "keyName": "createdAt",
                "condition": "gte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').startOf('day').toISO() }}"
              },
              {
                "keyName": "createdAt",
                "condition": "lte",
                "keyValue": "={{ $now.setZone('Asia/Tbilisi').endOf('day').toISO() }}"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          384,
          896
        ],
        "id": "42408d43-04b2-4895-8935-dc6009a0c1cf",
        "name": "Get Today Marks"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "ZytHPdzN4WCB2DGq",
            "mode": "list",
            "cachedResultName": "catebi_feedback",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/ZytHPdzN4WCB2DGq"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "mark",
                "condition": "isNotEmpty"
              },
              {
                "keyName": "mark",
                "condition": "gt",
                "keyValue": "0"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          400,
          1040
        ],
        "id": "1bb3ecc3-ed1a-4af9-93c0-b0535100a1f2",
        "name": "Get All Marks"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "text_feedback",
                "separateBy": "other",
                "customSeparator": "={{'\\n---------------------------\\n'}}"
              }
            ]
          },
          "options": {
            "outputFormat": "separateItems"
          }
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          592,
          576
        ],
        "id": "efd1cdcd-d3d1-4ea5-8cd7-bd4c5993ca8b",
        "name": "Summarize Text Feedback"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              },
              {
                "field": "mark"
              }
            ]
          },
          "fieldsToSplitBy": "=",
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          592,
          720
        ],
        "id": "ef6bbff5-39ea-4766-a773-8ef44f83cd30",
        "name": "Yesterday Marks"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              },
              {
                "field": "mark"
              }
            ]
          },
          "fieldsToSplitBy": "=",
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          592,
          880
        ],
        "id": "a13c3b41-68cb-483e-9a8e-cb45b0eef910",
        "name": "Today Marks"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4ddedc9a-67b2-4738-9daa-a851c601ffde",
                "name": "date",
                "value": "={{ DateTime.fromISO($json.createdAt).setZone('Asia/Tbilisi').startOf('day').toFormat('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "selected",
          "includeFields": "mark",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          592,
          1040
        ],
        "id": "ea074420-5964-4753-913a-1574fff67b7c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "mark"
              }
            ]
          },
          "fieldsToSplitBy": "date",
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          816,
          1040
        ],
        "id": "b195eb35-4110-476f-9b1a-375849f8fd36",
        "name": "Summarize"
      },
      {
        "parameters": {
          "chartType": "line",
          "labelsMode": "={{ $input.all().map(item => item.json.date) }}",
          "data": "={{ $input.all().map(item => item.json.average_mark) }}",
          "chartOptions": {},
          "datasetOptions": {
            "fill": false
          }
        },
        "type": "n8n-nodes-base.quickChart",
        "typeVersion": 1,
        "position": [
          1024,
          1040
        ],
        "id": "e03494d8-6f9b-4f0c-995a-a9f7623e629a",
        "name": "QuickChart"
      }
    ],
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "Insert text feedback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert mark": {
        "main": [
          [
            {
              "node": "Answer Query a callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert text feedback": {
        "main": [
          [
            {
              "node": "Thanks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Feedback Prompt": {
        "main": [
          [
            {
              "node": "Execution Data2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Insert mark",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Thanks": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Answer Query a callback": {
        "main": [
          [
            {
              "node": "Execution Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Poll": {
        "main": [
          [
            {
              "node": "Daily Feedback Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Report": {
        "main": [
          [
            {
              "node": "Get text responses",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Yesterday Marks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Today Marks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get All Marks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get text responses": {
        "main": [
          [
            {
              "node": "Summarize Text Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Yesterday Marks": {
        "main": [
          [
            {
              "node": "Yesterday Marks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize Text Feedback": {
        "main": [
          []
        ]
      },
      "Yesterday Marks": {
        "main": [
          []
        ]
      },
      "Get Today Marks": {
        "main": [
          [
            {
              "node": "Today Marks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Marks": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "QuickChart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": null,
    "description": null
  },
  "tags": []
}