chat-history-summarizer.json
{
  "updatedAt": "2026-01-07T09:00:30.689Z",
  "createdAt": "2025-12-28T09:04:56.374Z",
  "id": "QimjrHZQ0vo1Ec75",
  "name": "Chat history summarizer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0d4fb65b-27c0-4d44-8fbb-64cf9dd0360c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "1ef7Gn34MsumhFim",
          "mode": "list",
          "cachedResultName": "Sammy History",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/1ef7Gn34MsumhFim"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "3e1fc691-d234-4e87-a57d-3d6ef22f9327",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "full_message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "406436cf-63a1-4940-98c5-52a04980ce35",
      "name": "Summarize"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c7484fe9-cec1-4e72-921c-3edb00ea0543",
      "name": "Sort"
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "summarizationMethod": "stuff",
              "prompt": "=Write a detailed summary of the following:\n\n\n\"{{ $json.concatenated_full_message }}\"\n\n\nSUMMARY:"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "6dfc0e82-55bc-4699-8c52-d88565440696",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        208
      ],
      "id": "a9e5a468-af87-4f38-ac82-8b4fca3e5c02",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "82kFMSuErz4YBXNW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd221cc1-ba46-4026-9d87-d8d683fbd36e",
              "name": "full_message",
              "value": "=[{{ $json.timestamp }}] {{ $json.author }}: {{ $json.message_text }} (reply to {{ $json.replied_to_text }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "39e61f54-f01f-47ed-b15a-a3c31f9c533e",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "77d3ab3b-5cbd-4271-858c-88f7cb4a31eb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T09:04:56.433Z",
      "createdAt": "2025-12-28T09:04:56.433Z",
      "role": "workflow:owner",
      "workflowId": "QimjrHZQ0vo1Ec75",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": null,
  "tags": []
}