delete-tally-forms.json
{
  "updatedAt": "2026-02-06T20:39:02.840Z",
  "createdAt": "2026-02-06T19:09:44.296Z",
  "id": "Fzs_RZ_FNuuZGM2u4Dqgr",
  "name": "Delete Tally forms",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66100d1c-f551-4425-88b7-ae81f9319f54",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.tally.so/forms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 5,
              "requestInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7482da76-6cb2-4991-accf-b5f8b7ac21ca",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "8YxdqvcEIK7SBTPa",
          "name": "Tally"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "items"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "c63db201-2b9d-495f-9f0d-3a7b621eb32f",
      "name": "Summarize"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.tally.so/forms/{{ $json.ids }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 650
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "ce24e05a-c4b8-43a8-9bbf-cdbe6885a4f3",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "8YxdqvcEIK7SBTPa",
          "name": "Tally"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17402856-7cfc-4874-a73c-2d67f5cc6127",
              "name": "ids",
              "value": "={{ $json.appended_items.flat(2).map(f => f.id) }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "f0631dc3-5c89-4f9f-8874-3e43b6f67af9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ids",
        "options": {
          "destinationFieldName": ""
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "2af94190-080e-4323-b0b8-4036971fec92",
      "name": "Split Out"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e99a7565-6bba-4b5c-b04f-806d396f79b0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T19:09:44.315Z",
      "createdAt": "2026-02-06T19:09:44.315Z",
      "role": "workflow:owner",
      "workflowId": "Fzs_RZ_FNuuZGM2u4Dqgr",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": null,
  "tags": []
}