error-notification-workflow.json
{
  "updatedAt": "2025-12-12T08:46:36.466Z",
  "createdAt": "2025-11-25T14:46:39.204Z",
  "id": "uxiU7FOABx5M1moL",
  "name": "Error Notification workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b78a90ee-7ca8-49a5-acea-69ed9711cac5",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -448,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "def escape_markdown_v2(text: str) -> str:\n    \"\"\"\n    Escape all Telegram MarkdownV2 special characters\n    WITHOUT using regex.\n    \"\"\"\n    special_chars = {\n        '_', '*', '[', ']', '(', ')',\n        '~', '`', '>', '#', '+', '-',\n        '=', '|', '{', '}', '.', '!'\n    }\n\n    escaped = []\n    for ch in text:\n        if ch in special_chars:\n            escaped.append('\\\\' + ch)\n        else:\n            escaped.append(ch)\n\n    return ''.join(escaped)\n\n\n# Build the message with monospace stacktrace\nworkflow_name = _item['json']['workflow']['name']\nnode_name = _item['json']['execution']['lastNodeExecuted']\nerror_msg = _item['json']['execution']['error']['message']\nstacktrace = _item['json']['execution']['error']['stack']\nurl = _item['json']['execution']['url']\n\nmessage = (\n    f\"*WORKFLOW ERROR*\\n\\n\"\n    f\"*Workflow:* {escape_markdown_v2(workflow_name)}\\n\"\n    f\"*Node:* {escape_markdown_v2(node_name)}\\n\"\n    f\"*Error:* {escape_markdown_v2(error_msg)}\\n\"\n    f\"*Execution:* [open]({escape_markdown_v2(url)})\\n\\n\"\n    f\"*Stacktrace:*\\n\"\n    f\"```\\n{escape_markdown_v2(stacktrace)}\\n```\"\n)\n\nreturn {\"message\": message}"
      },
      "id": "5bb86eb6-87f6-4e8f-a9bb-47d6c652a6d7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "catebi.tbilisi@gmail.com",
        "subject": "n8n Workflow Error",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "4e95fef0-edd0-4baa-b873-82e747092195",
      "name": "Notify Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        0,
        400
      ],
      "webhookId": "52f0cc71-1ad8-4f9a-b07c-bae9be1e217c",
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "113754494",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "ed2c4471-a740-48a1-892f-38d654cd1c39",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        208
      ],
      "webhookId": "13c616bf-a3ad-4035-998a-1dfe6021b89f",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 Error Notification Workflow\n\nThis workflow automatically sends notifications when any other workflow fails.\n\nSimply download copy and paste into your workflow then add your credential with prefered channel\n\nThis workflow is free. \nwant more? [contact me](khmuhtadin.com)\n\nhave something to helps me chill, [a coffee](coff.ee/khmuhtadin) would be great!",
        "height": 280,
        "width": 420,
        "color": 5
      },
      "id": "badc57af-3ca6-49ee-ba26-f147e083908f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        64
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "7543",
            "url": "https://n8n.religofsil.space/workflow/ruk1fJ3VKzawxKOD/executions/7543",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Key (topic_id)=(3016) is not present in table \"tg_topic\".",
              "timestamp": 1765528366075,
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "resource": "database",
                  "operation": "insert",
                  "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                  },
                  "table": {
                    "__rl": true,
                    "value": "tg_message",
                    "mode": "list",
                    "cachedResultName": "tg_message"
                  },
                  "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                      "has_attachments": "={{ !!($node[\"Telegram Trigger\"].json[\"message\"][\"photo\"] || $node[\"Telegram Trigger\"].json[\"message\"][\"document\"]) }}",
                      "tg_message_id": "={{ $node['Telegram Trigger'].json.message.message_id }}",
                      "chat_id": "={{ $node['Upsert chat'].json.id }}",
                      "from_user_id": "={{ $node['Upsert user'].json.id }}",
                      "reply_to_tg_message_id": "={{ $node['Telegram Trigger'].json.message.reply_to_message?.message_id || null}}",
                      "topic_id": "={{\n  $node[\"Get topic id\"].json?.id\n    ?? $node[\"Select General\"].json?.id\n    ?? null\n}}",
                      "date": "={{ new Date($node[\"Telegram Trigger\"].json[\"message\"][\"date\"] * 1000)\n    .toLocaleString(\"sv-SE\", { timeZone: \"Asia/Tbilisi\" }) }}",
                      "text": "={{ $node['Telegram Trigger'].json['message']['text'] || $node['Telegram Trigger'].json['message']['caption'] || '' }}",
                      "raw_json": "={{ JSON.stringify($node[\"Telegram Trigger\"].json) }}"
                    },
                    "matchingColumns": [
                      "id"
                    ],
                    "schema": [
                      {
                        "id": "id",
                        "displayName": "id",
                        "required": false,
                        "defaultMatch": true,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "tg_message_id",
                        "displayName": "tg_message_id",
                        "required": true,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "chat_id",
                        "displayName": "chat_id",
                        "required": true,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "topic_id",
                        "displayName": "topic_id",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "from_user_id",
                        "displayName": "from_user_id",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "date",
                        "displayName": "date",
                        "required": true,
                        "defaultMatch": false,
                        "display": true,
                        "type": "dateTime",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "text",
                        "displayName": "text",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "reply_to_tg_message_id",
                        "displayName": "reply_to_tg_message_id",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "reply_to_internal_id",
                        "displayName": "reply_to_internal_id",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "number",
                        "canBeUsedToMatch": true,
                        "removed": true
                      },
                      {
                        "id": "has_attachments",
                        "displayName": "has_attachments",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "boolean",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "raw_json",
                        "displayName": "raw_json",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "object",
                        "canBeUsedToMatch": true
                      },
                      {
                        "id": "created_at",
                        "displayName": "created_at",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "dateTime",
                        "canBeUsedToMatch": true,
                        "removed": true
                      }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                  },
                  "options": {
                    "outputColumns": [
                      "*"
                    ],
                    "skipOnConflict": true
                  }
                },
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                  1568,
                  0
                ],
                "id": "e228435c-6e11-4f14-8d50-c444d41bea9c",
                "name": "Insert message",
                "credentials": {
                  "postgres": {
                    "id": "u5hzEAvZADCVqBIT",
                    "name": "Postgres account"
                  }
                }
              },
              "messages": [],
              "message": "insert or update on table \"tg_message\" violates foreign key constraint \"tg_message_topic_id_fkey\"",
              "stack": "NodeOperationError: insert or update on table \"tg_message\" violates foreign key constraint \"tg_message_topic_id_fkey\"\n    at parsePostgresError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:124:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:279:19\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/database/insert.operation.ts:253:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/router.ts:41:17)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/PostgresV2.node.ts:26:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"
            },
            "lastNodeExecuted": "Insert message",
            "mode": "retry",
            "retryOf": "7519",
            "executionContext": {
              "version": 1,
              "establishedAt": 1765523897966,
              "source": "webhook"
            }
          },
          "workflow": {
            "id": "ruk1fJ3VKzawxKOD",
            "name": "Catebi Work Group Logger"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "709402b4-63b4-473b-80b3-65809d9d171d",
  "activeVersionId": "709402b4-63b4-473b-80b3-65809d9d171d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T14:46:39.211Z",
      "createdAt": "2025-11-25T14:46:39.211Z",
      "role": "workflow:owner",
      "workflowId": "uxiU7FOABx5M1moL",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-12T08:46:36.470Z",
    "createdAt": "2025-12-12T08:46:36.470Z",
    "versionId": "709402b4-63b4-473b-80b3-65809d9d171d",
    "workflowId": "uxiU7FOABx5M1moL",
    "nodes": [
      {
        "parameters": {},
        "id": "b78a90ee-7ca8-49a5-acea-69ed9711cac5",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "position": [
          -448,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "pythonNative",
          "pythonCode": "def escape_markdown_v2(text: str) -> str:\n    \"\"\"\n    Escape all Telegram MarkdownV2 special characters\n    WITHOUT using regex.\n    \"\"\"\n    special_chars = {\n        '_', '*', '[', ']', '(', ')',\n        '~', '`', '>', '#', '+', '-',\n        '=', '|', '{', '}', '.', '!'\n    }\n\n    escaped = []\n    for ch in text:\n        if ch in special_chars:\n            escaped.append('\\\\' + ch)\n        else:\n            escaped.append(ch)\n\n    return ''.join(escaped)\n\n\n# Build the message with monospace stacktrace\nworkflow_name = _item['json']['workflow']['name']\nnode_name = _item['json']['execution']['lastNodeExecuted']\nerror_msg = _item['json']['execution']['error']['message']\nstacktrace = _item['json']['execution']['error']['stack']\nurl = _item['json']['execution']['url']\n\nmessage = (\n    f\"*WORKFLOW ERROR*\\n\\n\"\n    f\"*Workflow:* {escape_markdown_v2(workflow_name)}\\n\"\n    f\"*Node:* {escape_markdown_v2(node_name)}\\n\"\n    f\"*Error:* {escape_markdown_v2(error_msg)}\\n\"\n    f\"*Execution:* [open]({escape_markdown_v2(url)})\\n\\n\"\n    f\"*Stacktrace:*\\n\"\n    f\"```\\n{escape_markdown_v2(stacktrace)}\\n```\"\n)\n\nreturn {\"message\": message}"
        },
        "id": "5bb86eb6-87f6-4e8f-a9bb-47d6c652a6d7",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "position": [
          -224,
          400
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "sendTo": "catebi.tbilisi@gmail.com",
          "subject": "n8n Workflow Error",
          "message": "={{ $json.message }}",
          "options": {}
        },
        "id": "4e95fef0-edd0-4baa-b873-82e747092195",
        "name": "Notify Gmail",
        "type": "n8n-nodes-base.gmail",
        "position": [
          0,
          400
        ],
        "webhookId": "52f0cc71-1ad8-4f9a-b07c-bae9be1e217c",
        "typeVersion": 2.1,
        "disabled": true
      },
      {
        "parameters": {
          "chatId": "113754494",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "MarkdownV2"
          }
        },
        "id": "ed2c4471-a740-48a1-892f-38d654cd1c39",
        "name": "Notify Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          0,
          208
        ],
        "webhookId": "13c616bf-a3ad-4035-998a-1dfe6021b89f",
        "typeVersion": 1,
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {
          "content": "## 🚨 Error Notification Workflow\n\nThis workflow automatically sends notifications when any other workflow fails.\n\nSimply download copy and paste into your workflow then add your credential with prefered channel\n\nThis workflow is free. \nwant more? [contact me](khmuhtadin.com)\n\nhave something to helps me chill, [a coffee](coff.ee/khmuhtadin) would be great!",
          "height": 280,
          "width": 420,
          "color": 5
        },
        "id": "badc57af-3ca6-49ee-ba26-f147e083908f",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -528,
          64
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Code": {
        "main": [
          [
            {
              "node": "Notify Telegram",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": null,
    "description": null
  },
  "tags": []
}