error-notification-workflow.json
{
  "updatedAt": "2025-12-10T07:12:00.532Z",
  "createdAt": "2025-11-25T14:46:39.204Z",
  "id": "uxiU7FOABx5M1moL",
  "name": "Error Notification workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b78a90ee-7ca8-49a5-acea-69ed9711cac5",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -448,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "message = f'''\nWORKFLOW ERROR\n\nWorkflow: {_item['json']['workflow']['name']}\nNode: {_item['json']['execution']['lastNodeExecuted']}\nError: {_item['json']['execution']['error']['message']}\nStacktrace: {_item['json']['execution']['error']['stack']}\n[Execution link]({_item['json']['execution']['url']})\n'''\nreturn {\"message\": message}\n\n# // Perfect error access untuk N8N v1.99.1\n# const errorData = $input.first().json;\n# const execution = errorData.execution;\n# const workflow = errorData.workflow;\n# const error = execution.error;\n\n# const message = `🚨 <b>WORKFLOW ERROR</b>\\n\\n` +\n#   `📋 Workflow: <b>${workflow.name}</b>\\n` +\n#   `⚙️ Node: <code>${error.node.name}</code>\\n` +\n#   `❌ Error: <code>${error.message}</code>\\n` +\n#   `📝 Description: <i>${error.description}</i>\\n` +\n#   `🕐 Waktu: ${new Date(error.timestamp).toLocaleString('id-ID')}\\n` +\n#   `🔍 Execution: <a href=\"${execution.url}\">${execution.id}</a>\\n` +\n#   `⚠️ Level: ${error.level.toUpperCase()}`;\n\n# return {\n#   message: message,\n#   parse_mode: 'HTML',\n#   chat_id: '621412350'\n# };"
      },
      "id": "5bb86eb6-87f6-4e8f-a9bb-47d6c652a6d7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "catebi.tbilisi@gmail.com",
        "subject": "n8n Workflow Error",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "4e95fef0-edd0-4baa-b873-82e747092195",
      "name": "Notify Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        0,
        400
      ],
      "webhookId": "52f0cc71-1ad8-4f9a-b07c-bae9be1e217c",
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "113754494",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ed2c4471-a740-48a1-892f-38d654cd1c39",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        208
      ],
      "webhookId": "13c616bf-a3ad-4035-998a-1dfe6021b89f",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 Error Notification Workflow\n\nThis workflow automatically sends notifications when any other workflow fails.\n\nSimply download copy and paste into your workflow then add your credential with prefered channel\n\nThis workflow is free. \nwant more? [contact me](khmuhtadin.com)\n\nhave something to helps me chill, [a coffee](coff.ee/khmuhtadin) would be great!",
        "height": 280,
        "width": 420,
        "color": 5
      },
      "id": "badc57af-3ca6-49ee-ba26-f147e083908f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        64
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "6807",
            "url": "https://n8n.religofsil.space/workflow/BzPT7nQWQllqpcsO/executions/6807",
            "error": {
              "message": "Transaction is not started yet, start transaction before committing or rolling it back.",
              "stack": "TransactionNotStartedError: Transaction is not started yet, start transaction before committing or rolling it back.\n    at SqliteQueryRunner.commitTransaction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+typeorm@0.3.20-15_@sentry+node@9.42.1_mysql2@3.15.0_pg@8.12.0_sqlite3@5.1.7/node_modules/src/driver/sqlite-abstract/AbstractSqliteQueryRunner.ts:128:46)\n    at EntityManager.transaction (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+typeorm@0.3.20-15_@sentry+node@9.42.1_mysql2@3.15.0_pg@8.12.0_sqlite3@5.1.7/node_modules/src/entity-manager/EntityManager.ts:153:31)\n    at DataTableService.getManyRowsAndCount (/usr/local/lib/node_modules/n8n/src/modules/data-table/data-table.service.ts:211:10)\n    at Object.getManyRowsAndCount (/usr/local/lib/node_modules/n8n/src/modules/data-table/data-table-proxy.service.ts:146:12)\n    at executeSelectMany (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/DataTable/common/selectMany.ts:173:27)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/DataTable/actions/row/get.operation.ts:56:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/DataTable/actions/router.ts:64:20)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/DataTable/DataTable.node.ts:71:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)"
            },
            "lastNodeExecuted": "Load whitelist",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1765350634220,
              "source": "webhook"
            }
          },
          "workflow": {
            "id": "BzPT7nQWQllqpcsO",
            "name": "Spambot"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "07ba36d6-9e42-4945-9bb1-6e136f6c568b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T14:46:39.211Z",
      "createdAt": "2025-11-25T14:46:39.211Z",
      "role": "workflow:owner",
      "workflowId": "uxiU7FOABx5M1moL",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": null,
  "tags": []
}