github-daily-backup.json
{
  "updatedAt": "2025-11-28T16:44:06.000Z",
  "createdAt": "2025-11-28T15:50:03.941Z",
  "id": "mZqUnoa2TbUIgkhs",
  "name": "Github Daily Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "800fcedd-6843-4b10-9439-157ce431bf3c",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        688,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ainIN2ZLRnOu1abV",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "08d71349-fb1f-4dbb-89c0-1abc856fc12c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        528,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        }
      },
      "id": "21ba80f1-b00d-4361-8236-ace668ed7361",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        368,
        480
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "wQJu53ouHC9rimTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "95ed94eb-588a-478e-a24e-2f1b02d690c1",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1488,
        400
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "wQJu53ouHC9rimTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "fd20584a-7f91-4ece-b3e9-93a8626f266d",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1488,
        560
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "wQJu53ouHC9rimTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "2e6844d8-7519-4dd0-bb64-783915c900ec",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "d9846407-1bdc-4e03-b907-35af7447e8e1",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        848,
        480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "92e0516a-36f2-4294-9391-a8c498b0284f",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1008,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "56e64a31-26f3-4c3b-a183-d035b9f6c7e0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "46472a60-f7a4-4e6e-b2b4-2d021409399d",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1168,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "f31e30d1-db83-4ab7-af0f-b7e1bd932e4d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "f1fdf110-7ca2-40f3-8ca6-b7d1fe84c0f7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "09646281-f436-40a1-a0ea-b19dc318d3a0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        208,
        480
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "757de3d8-750a-4003-bb5f-f3e8b08e59a3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-28T15:50:03.977Z",
      "createdAt": "2025-11-28T15:50:03.977Z",
      "role": "workflow:owner",
      "workflowId": "mZqUnoa2TbUIgkhs",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "tags": []
}