github-daily-backup.json
{
  "updatedAt": "2025-12-07T13:48:32.000Z",
  "createdAt": "2025-12-07T13:45:53.428Z",
  "id": "IqtO9VBbkDFJFqrj",
  "name": "Github Daily Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "96fcb418-c596-4135-8c85-b4ca13363405",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        352,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "VIAY7VCxotDbnMRD",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "911962a1-83a7-4d7f-be33-35cee74e7989",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        192,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        }
      },
      "id": "8acc9edb-61cb-480a-ae12-a2e457425ee3",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        32,
        144
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "f2YrLpB7MNBoGkHI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "92813f51-c838-4263-9941-a925ec0a529a",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        64
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "f2YrLpB7MNBoGkHI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "catebi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/catebi/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "dab8490a-0079-457c-8377-9e2c5d97ac12",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        224
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "f2YrLpB7MNBoGkHI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "161f35e3-ea91-4a85-a03c-96a8df935d03",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        992,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "a18368ae-4f6e-42c3-bd10-f23424807c66",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        512,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a36338f8-3fcd-4ee4-aab7-734f2fb3826a",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        672,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "6cd36c8e-3b9f-4442-a648-245cfde48f08",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "e355ee18-e348-4dd7-8b6d-974bbc12d80a",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        832,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "ffa0b6c8-82c9-460c-8746-1b4a88d2bfad",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "767418da-e783-4d2c-bfb7-0f3f124f6815",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "3a0a3176-0135-46dc-9295-bc0ec4ddc6c5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -128,
        144
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0d97eeae-553b-429f-80e8-fe141cdca1da",
  "activeVersionId": "0d97eeae-553b-429f-80e8-fe141cdca1da",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-07T13:45:53.440Z",
      "createdAt": "2025-12-07T13:45:53.440Z",
      "role": "workflow:owner",
      "workflowId": "IqtO9VBbkDFJFqrj",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-07T13:48:31.188Z",
    "createdAt": "2025-12-07T13:48:31.188Z",
    "versionId": "0d97eeae-553b-429f-80e8-fe141cdca1da",
    "workflowId": "IqtO9VBbkDFJFqrj",
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "96fcb418-c596-4135-8c85-b4ca13363405",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          352,
          144
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "VIAY7VCxotDbnMRD",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "911962a1-83a7-4d7f-be33-35cee74e7989",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          192,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "catebi",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/catebi/n8n"
          }
        },
        "id": "8acc9edb-61cb-480a-ae12-a2e457425ee3",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          32,
          144
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "f2YrLpB7MNBoGkHI",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "catebi",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/catebi/n8n"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "92813f51-c838-4263-9941-a925ec0a529a",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          64
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "f2YrLpB7MNBoGkHI",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "catebi",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/catebi/n8n"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "dab8490a-0079-457c-8377-9e2c5d97ac12",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1152,
          224
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "f2YrLpB7MNBoGkHI",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
              }
            ]
          }
        },
        "id": "161f35e3-ea91-4a85-a03c-96a8df935d03",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          992,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "a18368ae-4f6e-42c3-bd10-f23424807c66",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          512,
          144
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "a36338f8-3fcd-4ee4-aab7-734f2fb3826a",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          672,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 300,
          "color": 5
        },
        "id": "6cd36c8e-3b9f-4442-a648-245cfde48f08",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "e355ee18-e348-4dd7-8b6d-974bbc12d80a",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          832,
          144
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 460,
          "color": 3
        },
        "id": "ffa0b6c8-82c9-460c-8746-1b4a88d2bfad",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "767418da-e783-4d2c-bfb7-0f3f124f6815",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          800,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "3a0a3176-0135-46dc-9295-bc0ec4ddc6c5",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -128,
          144
        ],
        "typeVersion": 1.2
      }
    ],
    "connections": {
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": null,
    "description": null
  },
  "tags": []
}