my-workflow-5.json
{
  "updatedAt": "2026-01-30T20:26:12.129Z",
  "createdAt": "2026-01-30T19:47:56.998Z",
  "id": "MRFXbryqZF_SyCGXJcQjV",
  "name": "My workflow 5",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b5ffc80f-cad8-4de0-9e19-6c789ade01de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT from_username, text, date\nfrom v_tg_message_flat\nWHERE topic_thread_id = 177225\n  and date >= '2026-01-30'\norder by date",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "84823eba-8070-4d57-9cfe-2a3b003a56d4",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "u5hzEAvZADCVqBIT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "3ff05472-4e74-466a-8e73-5e89b3be5efc",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8f65389-5f2f-4083-8a5e-7d5366376d13",
              "name": "message",
              "value": "=[{{ $json.date }}] {{ $json.from_username }}: {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "e99ec996-8013-4f4f-97e1-1f6e74c173b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.text }}",
        "options": {
          "completeHTMLDocument": true,
          "simpleLineBreaks": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "id": "5431a15d-34f1-4cc8-be32-cc454a02d1de",
      "name": "Markdown"
    },
    {
      "parameters": {
        "htmlInput": "={{ $json.data }}"
      },
      "type": "@custom-js/n8n-nodes-pdf-toolkit.html2Pdf",
      "typeVersion": 1,
      "position": [
        1472,
        0
      ],
      "id": "5cbb2a59-ef44-45c2-86bc-f102d9169074",
      "name": "HTML to PDF",
      "credentials": {
        "customJsApi": {
          "id": "lb3S0k0du5N7VUtS",
          "name": "CustomJS account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 20000,
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "summarizationMethod": "stuff",
              "prompt": "You are preparing a conflict report for the mediator. You need to summarize the text messages while preserving who said what and the gist of the conflict. Write a summary in Russian of the following:\n\n\n\"{text}\"\n\n\nSUMMARY:"
            }
          },
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "8ccf4c0d-04b8-48e5-8448-0ab55d0ab700",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "f470e02c-ac03-4f01-a75c-c8b3863992dd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "82kFMSuErz4YBXNW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e3e40200-2174-4e69-8275-a12b4331dcbd",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-30T19:47:57.011Z",
      "createdAt": "2026-01-30T19:47:57.011Z",
      "role": "workflow:owner",
      "workflowId": "MRFXbryqZF_SyCGXJcQjV",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": null,
  "tags": []
}