n8n-for-beginners:-looping-over-items.json
{
  "updatedAt": "2025-12-17T19:02:58.699Z",
  "createdAt": "2025-12-17T19:02:58.699Z",
  "id": "jJmHd52NqIF8q8L6",
  "name": "N8N for Beginners: Looping over Items",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9d997375-8ed0-4030-8580-2c127e25612e",
      "name": "Result1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        832
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look Here to see resulting output"
    },
    {
      "parameters": {},
      "id": "fc880ace-9001-484d-9d5d-dd57fe513580",
      "name": "Result2",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        1152
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {
        "content": "\n### Result1 shows that the array of strings is seen as one item by Loop1",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "19d9ba58-b6f7-4ffb-ab50-c921da89616f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result2 shows that the Loop2 sees 5 items after the array of strings is split into separate objects",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "87be0a14-4e2c-481f-91fc-705e61d719c7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# N8N for Beginners: Looping Over Items\n\n## Description\n\nThis workflow is designed for **n8n beginners** to understand how n8n handles **looping (iteration)** over multiple items. It highlights two key behaviors:\n\n- **Built-In Looping:** By default, most n8n nodes iterate over each item in an input array.\n- **Explicit Looping:** The **Loop Over Items** node allows controlled iteration, enabling **custom batch processing** and multi-step workflows.\n\nThis workflow demonstrates the difference between processing an **unsplit array of strings (single item)** vs. **a split array (multiple items)**.\n\n---\n\n## Setup\n\n### 1. Input Data\n\nTo begin, **paste the following JSON** into the **Manual Trigger** node:\n\n```json\n{\n  \"urls\": [\n    \"https://www.reddit.com\",\n    \"https://www.n8n.io/\",\n    \"https://n8n.io/\",\n    \"https://supabase.com/\",\n    \"https://duckduckgo.com/\"\n  ]\n}\n```\n\n📌 **Steps to Paste Data:**\n- **Double-click** the \"Manual Trigger\" node.\n- Click **\"Edit Output\"** (top-right corner).\n- Paste the JSON and **Save**.\n- The node **turns purple**, indicating that test data is pinned. \n\n---\n\n## Explanation of the n8n Nodes in the Workflow\n\n### Manual Trigger  \nThis node starts the workflow manually and sends test data.  \n**Documentation:** [Manual Trigger Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualtrigger/)\n\n### Split Out (Split Array of Strings into Array of Objects)  \nExtracts the `urls` array and splits it so that each URL becomes a separate JSON object.  \n**Documentation:** [Split Out Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitout/)\n\n### Loop Over Items (Loop Over Items 1)  \nDemonstrates how an **unsplit** array is treated as one item, processing it as a single unit.  \n**Documentation:** [Loop Over Items Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\n### Loop Over Items (Loop Over Items 2)  \nProcesses the **split array** one item at a time. This demonstrates individual iteration and controlled looping.  \n**Documentation:** [Loop Over Items Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\n### Wait Node  \nIntroduces a **1-second delay** per iteration to demonstrate sequential execution. This can be removed for faster performance.  \n**Documentation:** [Wait Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/)\n\n### Code Nodes (Add param1 to outputX)  \nEach Code node adds a constant field (`param1`) to the data, ensuring that every item gets enriched with the same parameter.  \n**Documentation:** [Code Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/)\n\n### NoOp Nodes (Result1, Result2, Result3, Result4, Result5)\nThese nodes display the output at different stages of the workflow for inspection.\n**Documentation:** [NoOp Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.noop/)\n\n\n\n---\n\n## Execution Details\n\n### 1. How the Workflow Runs\n\n- **Manual Trigger starts execution** with the pasted JSON data.\n- The workflow follows **two paths**:\n\n#### Unsplit Array Path → Loop Over Items 1  \n- The original JSON is processed **as a single item**.  \n- **Result1 & Result5:** Show that the array was **not split** before processing.\n\n#### Split Array Path → Split Out → Loop Over Items 2  \n- The **Split Out** node converts the `urls` array into separate objects.\n- The **Loop Over Items 2** node processes each URL **one by one**.\n- A **Wait node** (1-second delay) demonstrates **controlled execution**.\n- **Code nodes** modify the JSON, adding the field (`param1`).\n- **Result2, Result3, Result4:** Display the final processed output.\n\n### 2. What You Will See\n\n- **Result1 & Result5:** The entire array is processed **as one item** before splitting.\n- **Result2, Result3, Result4:** Each URL is processed **individually** after being split.\n- **Wait Node:** Adds a **1-second delay per item** in **Loop Over Items 2**.\n\n---\n\n## Notes\n\n- Sticky notes are included in the workflow **for easy reference**.\n- The **Wait node** is **optional**—remove it for faster execution.\n- This template is structured for **beginners** but serves as a **building block** for more advanced automations.\n\n---\n\n",
        "height": 2480,
        "width": 1200
      },
      "id": "d6504809-d3ae-444e-b7d8-e3267d06929c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {
          "destinationFieldName": "url"
        }
      },
      "id": "0e6d7b54-6ded-4942-9a89-00100a89bd73",
      "name": "Split Array of Strings into Array of Objects",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1664,
        1488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result4 shows that we can turn off the looping feature by setting the looping behavior to \"Run Once For All Items\"",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "92fab079-b263-451b-bd19-02af6d9c437e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Result3 shows that looping over items is built in to n8n nodes",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "41578715-9e16-420d-b050-01485c8ad203",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "807ffd35-39ba-4fe8-a620-1076e8510059",
      "name": "Result3",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2592,
        1600
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {},
      "id": "0dde1056-d512-48e0-a52b-f798ca1d5924",
      "name": "Result4",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2592,
        1888
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {
        "content": "### Result5 shows that the array of strings is seen as one item by Code5. So the behavior is the same as Loop1",
        "height": 260,
        "width": 320,
        "color": 3
      },
      "id": "e91ae05d-e466-4876-bf04-5ebe2fcbe6b5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "70d5eb35-8cc2-48b6-9c3b-2480ec5d2899",
      "name": "Result5",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2560,
        560
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Look here to see resulting output"
    },
    {
      "parameters": {},
      "id": "9ab3955d-b615-495b-a220-b9acb9150d31",
      "name": "Paste JSON into this node",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1280,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\n  $json.param1 =  'add_me_to_all_items_and_name_me_param1';\n\n\nreturn $json"
      },
      "id": "3fb69d0a-f5d6-4e9a-a42f-584d4d86bc53",
      "name": "Add param1 to output5",
      "type": "n8n-nodes-base.code",
      "position": [
        2000,
        560
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 = \"add_me_to_all_items_and_name_me_param1\"\n\nreturn $json"
      },
      "id": "80adbfc0-2be7-43ee-947f-a94ab105a533",
      "name": "Add param1 to output1",
      "type": "n8n-nodes-base.code",
      "position": [
        2192,
        928
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6fec789e-44c1-4486-9a14-f3e0222cc2cb",
      "name": "Loop over Items 2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2000,
        1168
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "2438f427-be68-40ee-b12f-7069ad56eb9b",
      "name": "Loop over Items 1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2000,
        848
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "8f4c224f-a2f2-4eb5-97ae-c46eb827e66c",
      "name": "Add param1 to output2",
      "type": "n8n-nodes-base.code",
      "position": [
        2368,
        1328
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "d04975b0-c12b-4f0b-a6a8-4056de788374",
      "name": "Add param1 to output3",
      "type": "n8n-nodes-base.code",
      "position": [
        2000,
        1600
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\n  $json.param1 =   \"add_me_to_all_items_and_name_me_param1\"\n\n\nreturn $json"
      },
      "id": "47c3c44d-edb4-4c0a-8bac-08085e173253",
      "name": "Add param1 to output4",
      "type": "n8n-nodes-base.code",
      "position": [
        2000,
        1888
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "3ab1c268-f5e1-4f19-9b71-a2c727034507",
      "name": "Wait one second(just for show)",
      "type": "n8n-nodes-base.wait",
      "position": [
        2160,
        1280
      ],
      "webhookId": "61aef80b-4e9d-43ae-a083-cd87b4fdec11",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Loop over Items 1": {
      "main": [
        [
          {
            "node": "Result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add param1 to output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over Items 2": {
      "main": [
        [
          {
            "node": "Result2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait one second(just for show)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output1": {
      "main": [
        [
          {
            "node": "Loop over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output2": {
      "main": [
        [
          {
            "node": "Loop over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output3": {
      "main": [
        [
          {
            "node": "Result3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output4": {
      "main": [
        [
          {
            "node": "Result4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add param1 to output5": {
      "main": [
        [
          {
            "node": "Result5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste JSON into this node": {
      "main": [
        [
          {
            "node": "Split Array of Strings into Array of Objects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait one second(just for show)": {
      "main": [
        [
          {
            "node": "Add param1 to output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array of Strings into Array of Objects": {
      "main": [
        [
          {
            "node": "Loop over Items 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add param1 to output3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b924e6fc-4baf-47ab-b91a-82e613720e41",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-17T19:02:58.710Z",
      "createdAt": "2025-12-17T19:02:58.710Z",
      "role": "workflow:owner",
      "workflowId": "jJmHd52NqIF8q8L6",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": null,
  "tags": []
}