Spambot.json
{
  "name": "Spambot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "-1001247053710, -1002113323185, -1001999193889"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        144
      ],
      "id": "a57e1413-51c3-4c93-8eb5-8f94b086e118",
      "name": "Telegram Trigger",
      "webhookId": "978a936c-8fc1-4c28-bb3e-2d69702da145",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Telegram Trigger').item.json.message.text ?? $('Telegram Trigger').item.json.message.caption ?? \"default\"}}",
        "categories": {
          "categories": [
            {
              "category": "job description (excluding animal-related)",
              "description": "text offering and promoting a job"
            },
            {
              "category": "ticket sales offer (excluding animal-themed)",
              "description": "text about selling tickets to an event"
            },
            {
              "category": "other",
              "description": "any text that is not about a job or selling something"
            },
            {
              "category": "pet-related"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}. If the text says anything at all about animals or pets, put it into \"pet-related\" category. Use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        448,
        384
      ],
      "id": "0470a125-72fb-4754-b46f-e0bd3d028f49",
      "name": "Text Classifier",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        672
      ],
      "id": "697add10-046a-48a1-b2a0-f1840d4af847",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "82kFMSuErz4YBXNW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001938190303",
        "text": "=Чат {{ $('Telegram Trigger').item.json.message.chat.title }}\n\nУдалён спам от {{ $('Telegram Trigger').item.json.message.from.first_name }} {{ $('Telegram Trigger').item.json.message.from.last_name }}, юзернейм {{ $('Telegram Trigger').item.json.message.from.username }} (id {{ $('Telegram Trigger').item.json.message.from.id }})\n\nТекст сообщения:\n{{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {
          "message_thread_id": 382975
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        368
      ],
      "id": "8249f90a-36e0-4054-9b1f-f606af3e41b9",
      "name": "Send a text message",
      "webhookId": "4d94c551-eecf-40a7-ab49-a2ac815b613d",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        560
      ],
      "id": "7d19429f-7252-4bf5-b54e-3ce17cd8b718",
      "name": "Delete a chat message",
      "webhookId": "684d0175-5b57-41be-856d-5e6dd53da1aa",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        560
      ],
      "id": "54d6a6c9-619e-441c-8de3-b7d225616e6c",
      "name": "Wait",
      "webhookId": "43d7ca97-8413-4831-be54-e11f0fc83f3f"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "GrE2DGG1g20sylSA",
          "mode": "list",
          "cachedResultName": "Telegram whitelist",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/GrE2DGG1g20sylSA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "id": "5f95842e-8f6d-4a4c-a66d-58d53ec91363",
      "name": "Load whitelist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdcca430-ea36-4926-af23-9565a445e99a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        224
      ],
      "id": "14b575c3-22c3-4428-a04a-d29a0ce9c965",
      "name": "If account in whitelist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dca8fac4-22b8-45b1-95de-ce4c70b8d15a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "35df3718-6777-4b66-8edd-21f53616b5d6",
              "leftValue": "={{ $json.message.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "5f014d99-9564-483b-8787-22e9fe24091e",
      "name": "If message contains text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        128
      ],
      "id": "aaad4c23-0f52-47a3-bdb5-38f8a8630221",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If message contains text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load whitelist": {
      "main": [
        [
          {
            "node": "If account in whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If account in whitelist": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If message contains text": {
      "main": [
        [
          {
            "node": "If account in whitelist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL",
    "timeSavedPerExecution": 1,
    "timezone": "Asia/Tbilisi"
  },
  "versionId": "27b7c35e-f985-4bfc-9d51-2d1b2a178a00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92884aadccf56fbf788c9a20300e9ab48e6b030ed4ef5174365f1554550618a5"
  },
  "id": "BzPT7nQWQllqpcsO",
  "tags": [
    {
      "updatedAt": "2025-11-25T04:52:01.067Z",
      "createdAt": "2025-11-25T04:52:01.067Z",
      "id": "BQEudI1tbEaTUl0F",
      "name": "catebi"
    },
    {
      "updatedAt": "2025-11-25T04:52:06.198Z",
      "createdAt": "2025-11-25T04:52:06.198Z",
      "id": "Qu6VjlYKDvK0D4RZ",
      "name": "telegram"
    }
  ]
}