spambot.json
{
  "updatedAt": "2026-02-24T09:32:34.960Z",
  "createdAt": "2025-11-25T07:08:56.490Z",
  "id": "BzPT7nQWQllqpcsO",
  "name": "Spambot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "-1001247053710, -1002113323185, -1001999193889, -1001870831470"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        416
      ],
      "id": "a57e1413-51c3-4c93-8eb5-8f94b086e118",
      "name": "Telegram Trigger",
      "webhookId": "978a936c-8fc1-4c28-bb3e-2d69702da145",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        256
      ],
      "id": "7d19429f-7252-4bf5-b54e-3ce17cd8b718",
      "name": "Delete a chat message",
      "webhookId": "684d0175-5b57-41be-856d-5e6dd53da1aa",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        256
      ],
      "id": "54d6a6c9-619e-441c-8de3-b7d225616e6c",
      "name": "Wait",
      "webhookId": "43d7ca97-8413-4831-be54-e11f0fc83f3f"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "GrE2DGG1g20sylSA",
          "mode": "list",
          "cachedResultName": "Telegram whitelist",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/GrE2DGG1g20sylSA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -688,
        208
      ],
      "id": "5f95842e-8f6d-4a4c-a66d-58d53ec91363",
      "name": "Load whitelist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdcca430-ea36-4926-af23-9565a445e99a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4cd8d027-d809-4a28-8055-3cc767817a75",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.from.username }}",
              "rightValue": "Channel_Bot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        208
      ],
      "id": "14b575c3-22c3-4428-a04a-d29a0ce9c965",
      "name": "If account in whitelist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dca8fac4-22b8-45b1-95de-ce4c70b8d15a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "35df3718-6777-4b66-8edd-21f53616b5d6",
              "leftValue": "={{ $json.message.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        416
      ],
      "id": "5f014d99-9564-483b-8787-22e9fe24091e",
      "name": "If message contains text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        -16
      ],
      "id": "aaad4c23-0f52-47a3-bdb5-38f8a8630221",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "113754494",
        "message": "=*Ban Request*\n\n{{ $('Telegram Trigger').item.json.message.text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? $('Telegram Trigger').item.json.message.caption ?? 'empty message'}}\n\nUser: @{{ $('Telegram Trigger').item.json.message.from.username?.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? ''}}  \n[User link](tg://user?id={{ $('Telegram Trigger').item.json.message.from.id }}) \n\nChat: {{ $('Telegram Trigger').item.json.message.chat.title }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Ban",
            "disapproveLabel": "❌ Ignore"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        256
      ],
      "id": "6c1b1b86-ff01-47bb-a163-6c72ba247f76",
      "name": "Send message and wait for response",
      "webhookId": "843dc7db-d870-4959-90ca-e69157d7d2d8",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7021f91d-ef50-4ecb-9601-4db1c21480a2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        256
      ],
      "id": "2990ff49-ac34-44ee-894a-fa5e2a7f134b",
      "name": "If Ban Approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7510518102:AAF1KknszCeU67VNLecAjXxJKghAgWvNlFE/banChatMember",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $node['Get chats'].json.chat_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        160
      ],
      "id": "1862a28d-0e5e-4126-84cd-2de681ff8a8f",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "no ban"
            },
            {
              "key": "from",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username }}"
            },
            {
              "key": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1008,
        352
      ],
      "id": "68e8b360-f208-4d68-883b-b6d255adc182",
      "name": "No Ban"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "no action"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        336,
        -16
      ],
      "id": "5edb718e-e99f-46a4-9890-2e1bd5b1789a",
      "name": "No Action"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "ban"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1456,
        160
      ],
      "id": "ea1b7fb1-5871-42c1-a37d-8413d077bf69",
      "name": "Ban"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        528
      ],
      "id": "d16bb295-eea2-4a46-887c-2d8c2562c4d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "82kFMSuErz4YBXNW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Telegram Trigger').item.json.message.text ?? $('Telegram Trigger').item.json.message.caption }}",
        "categories": {
          "categories": [
            {
              "category": "job description (excluding animal-related)",
              "description": "text offering and promoting a job"
            },
            {
              "category": "ticket sales offer (excluding animal-themed)",
              "description": "text about selling tickets to an event"
            },
            {
              "category": "other",
              "description": "any text that is not about a job or selling something"
            },
            {
              "category": "pet-related",
              "description": "anything related to pets or mentioning pets"
            },
            {
              "category": "crypto exchange offer",
              "description": "offer to buy, sell, or exchange cryptocurrency"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -240,
        208
      ],
      "id": "37b5079e-531f-492a-a6f1-28a6ec2b9b32",
      "name": "Text Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "japQZ3uw0Xawsx8L",
          "mode": "list",
          "cachedResultName": "Telegram creds",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/japQZ3uw0Xawsx8L"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "SpamFilter",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        160
      ],
      "id": "fd4d85ec-4342-4f22-bd43-907db3696bea",
      "name": "Get chats"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\nimport signal\n\ndef _timeout(signum, frame):\n    raise TimeoutError(\"Python node timed out\")\n\nsignal.signal(signal.SIGALRM, _timeout)\nsignal.alarm(20)  # seconds\n\nmsg = _items[0][\"json\"].get(\"message\", {})\n\n# Telegram text can be in different fields\ntext = (\n    msg.get(\"text\")\n    or msg.get(\"caption\")\n    or \"\"\n)\n# Regex for one @username\npattern = r'@([a-zA-Z0-9_\\.]+)'\n\nmatch = re.search(pattern, text)\n\nusername = match.group(1) if match else None\n\nreturn [\n    {\n        \"json\": {\n            \"username\": username,\n            \"text\": text\n        }\n    }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        576
      ],
      "id": "1c83bcbe-0ece-4735-994f-b54ab3cec9dc",
      "name": "Code in Python (Native)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        432
      ],
      "id": "1a07106a-2682-4fd7-961e-c12546fa78b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "kdaucL3oYuGtAnSs",
          "mode": "list",
          "cachedResultName": "blacklist",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/kdaucL3oYuGtAnSs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $('Code in Python (Native)').item.json.username }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $('Code in Python (Native)').item.json.username }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2128,
        432
      ],
      "id": "7740140b-6537-4591-8862-ecfbbb346592",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2f2ab8c-06e7-4525-9a2a-9987a0e5d66e",
              "leftValue": "={{ $json.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        432
      ],
      "id": "cddae23c-5ef1-494b-af11-8027b2ef89b0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93be3069-126c-4c3d-82e0-41a6c9592827",
              "name": "new_field",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        576
      ],
      "id": "6ca32efd-07c7-4379-94dc-83428cf3d38a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "setInputs",
        "inputs": {
          "values": [
            {
              "inputName": "text",
              "inputValue": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        -912,
        208
      ],
      "id": "636e9752-b273-4017-85d4-010d695853c7",
      "name": "Evaluation"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If message contains text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load whitelist": {
      "main": [
        [
          {
            "node": "If account in whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If account in whitelist": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If message contains text": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If Ban Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ban Approved": {
      "main": [
        [
          {
            "node": "Get chats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chats": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ban": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Load whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL",
    "timeSavedPerExecution": 1,
    "timezone": "Asia/Tbilisi",
    "timeSavedMode": "fixed",
    "executionTimeout": 180
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 833108025,
          "message": {
            "message_id": 51662,
            "from": {
              "id": 8277395888,
              "is_bot": false,
              "first_name": "Илона",
              "username": "zsdxgfchgvjbkjnk",
              "is_premium": true
            },
            "chat": {
              "id": -1001247053710,
              "title": "CATEBI Chat",
              "username": "catebichat",
              "type": "supergroup"
            },
            "date": 1770359964,
            "text": "Срочно нyжe водитeль с кaтeгоpией Б,зaрплaта высoкaя,по всем вопросaм писaть в лc"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "0337028e-cf2c-4e51-ba95-5123ed03acdc",
  "activeVersionId": "0337028e-cf2c-4e51-ba95-5123ed03acdc",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:08:56.500Z",
      "createdAt": "2025-11-25T07:08:56.500Z",
      "role": "workflow:owner",
      "workflowId": "BzPT7nQWQllqpcsO",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T09:33:32.000Z",
    "createdAt": "2026-02-24T09:31:39.908Z",
    "versionId": "0337028e-cf2c-4e51-ba95-5123ed03acdc",
    "workflowId": "BzPT7nQWQllqpcsO",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "chatIds": "-1001247053710, -1002113323185, -1001999193889, -1001870831470"
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1360,
          416
        ],
        "id": "a57e1413-51c3-4c93-8eb5-8f94b086e118",
        "name": "Telegram Trigger",
        "webhookId": "978a936c-8fc1-4c28-bb3e-2d69702da145",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteMessage",
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "messageId": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          336,
          256
        ],
        "id": "7d19429f-7252-4bf5-b54e-3ce17cd8b718",
        "name": "Delete a chat message",
        "webhookId": "684d0175-5b57-41be-856d-5e6dd53da1aa",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          112,
          256
        ],
        "id": "54d6a6c9-619e-441c-8de3-b7d225616e6c",
        "name": "Wait",
        "webhookId": "43d7ca97-8413-4831-be54-e11f0fc83f3f"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "GrE2DGG1g20sylSA",
            "mode": "list",
            "cachedResultName": "Telegram whitelist",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/GrE2DGG1g20sylSA"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "keyValue": "={{ $json.message.from.id }}"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -688,
          208
        ],
        "id": "5f95842e-8f6d-4a4c-a66d-58d53ec91363",
        "name": "Load whitelist",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bdcca430-ea36-4926-af23-9565a445e99a",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "4cd8d027-d809-4a28-8055-3cc767817a75",
                "leftValue": "={{ $('Telegram Trigger').item.json.message.from.username }}",
                "rightValue": "Channel_Bot",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -464,
          208
        ],
        "id": "14b575c3-22c3-4428-a04a-d29a0ce9c965",
        "name": "If account in whitelist"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dca8fac4-22b8-45b1-95de-ce4c70b8d15a",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "35df3718-6777-4b66-8edd-21f53616b5d6",
                "leftValue": "={{ $json.message.caption }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1136,
          416
        ],
        "id": "5f014d99-9564-483b-8787-22e9fe24091e",
        "name": "If message contains text"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          112,
          -16
        ],
        "id": "aaad4c23-0f52-47a3-bdb5-38f8a8630221",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "113754494",
          "message": "=*Ban Request*\n\n{{ $('Telegram Trigger').item.json.message.text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? $('Telegram Trigger').item.json.message.caption ?? 'empty message'}}\n\nUser: @{{ $('Telegram Trigger').item.json.message.from.username?.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? ''}}  \n[User link](tg://user?id={{ $('Telegram Trigger').item.json.message.from.id }}) \n\nChat: {{ $('Telegram Trigger').item.json.message.chat.title }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "✅ Ban",
              "disapproveLabel": "❌ Ignore"
            }
          },
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          560,
          256
        ],
        "id": "6c1b1b86-ff01-47bb-a163-6c72ba247f76",
        "name": "Send message and wait for response",
        "webhookId": "843dc7db-d870-4959-90ca-e69157d7d2d8",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7021f91d-ef50-4ecb-9601-4db1c21480a2",
                "leftValue": "={{ $json.data.approved }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          784,
          256
        ],
        "id": "2990ff49-ac34-44ee-894a-fa5e2a7f134b",
        "name": "If Ban Approved"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot7510518102:AAF1KknszCeU67VNLecAjXxJKghAgWvNlFE/banChatMember",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $node['Get chats'].json.chat_id }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1232,
          160
        ],
        "id": "1862a28d-0e5e-4126-84cd-2de681ff8a8f",
        "name": "HTTP Request",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "no ban"
              },
              {
                "key": "from",
                "value": "={{ $('Telegram Trigger').item.json.message.from.username }}"
              },
              {
                "key": "text",
                "value": "={{ $('Telegram Trigger').item.json.message.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1008,
          352
        ],
        "id": "68e8b360-f208-4d68-883b-b6d255adc182",
        "name": "No Ban"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "no action"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          336,
          -16
        ],
        "id": "5edb718e-e99f-46a4-9890-2e1bd5b1789a",
        "name": "No Action"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "ban"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1456,
          160
        ],
        "id": "ea1b7fb1-5871-42c1-a37d-8413d077bf69",
        "name": "Ban"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -176,
          528
        ],
        "id": "d16bb295-eea2-4a46-887c-2d8c2562c4d4",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "82kFMSuErz4YBXNW",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "inputText": "={{ $('Telegram Trigger').item.json.message.text ?? $('Telegram Trigger').item.json.message.caption }}",
          "categories": {
            "categories": [
              {
                "category": "job description (excluding animal-related)",
                "description": "text offering and promoting a job"
              },
              {
                "category": "ticket sales offer (excluding animal-themed)",
                "description": "text about selling tickets to an event"
              },
              {
                "category": "other",
                "description": "any text that is not about a job or selling something"
              },
              {
                "category": "pet-related",
                "description": "anything related to pets or mentioning pets"
              },
              {
                "category": "crypto exchange offer",
                "description": "offer to buy, sell, or exchange cryptocurrency"
              }
            ]
          },
          "options": {
            "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          -240,
          208
        ],
        "id": "37b5079e-531f-492a-a6f1-28a6ec2b9b32",
        "name": "Text Classifier",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "japQZ3uw0Xawsx8L",
            "mode": "list",
            "cachedResultName": "Telegram creds",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/japQZ3uw0Xawsx8L"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "SpamFilter",
                "condition": "isTrue"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1008,
          160
        ],
        "id": "fd4d85ec-4342-4f22-bd43-907db3696bea",
        "name": "Get chats"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "import re\nimport signal\n\ndef _timeout(signum, frame):\n    raise TimeoutError(\"Python node timed out\")\n\nsignal.signal(signal.SIGALRM, _timeout)\nsignal.alarm(20)  # seconds\n\nmsg = _items[0][\"json\"].get(\"message\", {})\n\n# Telegram text can be in different fields\ntext = (\n    msg.get(\"text\")\n    or msg.get(\"caption\")\n    or \"\"\n)\n# Regex for one @username\npattern = r'@([a-zA-Z0-9_\\.]+)'\n\nmatch = re.search(pattern, text)\n\nusername = match.group(1) if match else None\n\nreturn [\n    {\n        \"json\": {\n            \"username\": username,\n            \"text\": text\n        }\n    }\n]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          576
        ],
        "id": "1c83bcbe-0ece-4735-994f-b54ab3cec9dc",
        "name": "Code in Python (Native)",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1680,
          432
        ],
        "id": "1a07106a-2682-4fd7-961e-c12546fa78b2",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "kdaucL3oYuGtAnSs",
            "mode": "list",
            "cachedResultName": "blacklist",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/kdaucL3oYuGtAnSs"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "username",
                "keyValue": "={{ $('Code in Python (Native)').item.json.username }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "username": "={{ $('Code in Python (Native)').item.json.username }}"
            },
            "matchingColumns": [
              "username"
            ],
            "schema": [
              {
                "id": "username",
                "displayName": "username",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2128,
          432
        ],
        "id": "7740140b-6537-4591-8862-ecfbbb346592",
        "name": "Upsert row(s)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f2f2ab8c-06e7-4525-9a2a-9987a0e5d66e",
                "leftValue": "={{ $json.username }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1904,
          432
        ],
        "id": "cddae23c-5ef1-494b-af11-8027b2ef89b0",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93be3069-126c-4c3d-82e0-41a6c9592827",
                "name": "new_field",
                "value": "1",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1456,
          576
        ],
        "id": "6ca32efd-07c7-4379-94dc-83428cf3d38a",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "setInputs",
          "inputs": {
            "values": [
              {
                "inputName": "text",
                "inputValue": "={{ $json.message.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.evaluation",
        "typeVersion": 4.8,
        "position": [
          -912,
          208
        ],
        "id": "636e9752-b273-4017-85d4-010d695853c7",
        "name": "Evaluation"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If message contains text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Delete a chat message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load whitelist": {
        "main": [
          [
            {
              "node": "If account in whitelist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If account in whitelist": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Text Classifier",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in Python (Native)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message contains text": {
        "main": [
          [
            {
              "node": "Evaluation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a chat message": {
        "main": [
          [
            {
              "node": "Send message and wait for response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "No Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message and wait for response": {
        "main": [
          [
            {
              "node": "If Ban Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Ban Approved": {
        "main": [
          [
            {
              "node": "Get chats",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Text Classifier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Text Classifier": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get chats": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ban": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in Python (Native)": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Upsert row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Upsert row(s)": {
        "main": [
          []
        ]
      },
      "Evaluation": {
        "main": [
          [
            {
              "node": "Load whitelist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": "Version 0337028e",
    "description": "add evaluation inputs",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-25T04:52:01.067Z",
      "createdAt": "2025-11-25T04:52:01.067Z",
      "id": "BQEudI1tbEaTUl0F",
      "name": "catebi"
    },
    {
      "updatedAt": "2025-11-25T04:52:06.198Z",
      "createdAt": "2025-11-25T04:52:06.198Z",
      "id": "Qu6VjlYKDvK0D4RZ",
      "name": "telegram"
    }
  ]
}