spambot.json
{
  "updatedAt": "2026-01-10T15:34:00.524Z",
  "createdAt": "2025-11-25T07:08:56.490Z",
  "id": "BzPT7nQWQllqpcsO",
  "name": "Spambot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "-1001247053710, -1002113323185, -1001999193889, -1001870831470"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        80
      ],
      "id": "a57e1413-51c3-4c93-8eb5-8f94b086e118",
      "name": "Telegram Trigger",
      "webhookId": "978a936c-8fc1-4c28-bb3e-2d69702da145",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.message.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        336
      ],
      "id": "7d19429f-7252-4bf5-b54e-3ce17cd8b718",
      "name": "Delete a chat message",
      "webhookId": "684d0175-5b57-41be-856d-5e6dd53da1aa",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        336
      ],
      "id": "54d6a6c9-619e-441c-8de3-b7d225616e6c",
      "name": "Wait",
      "webhookId": "43d7ca97-8413-4831-be54-e11f0fc83f3f"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "GrE2DGG1g20sylSA",
          "mode": "list",
          "cachedResultName": "Telegram whitelist",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/GrE2DGG1g20sylSA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        144
      ],
      "id": "5f95842e-8f6d-4a4c-a66d-58d53ec91363",
      "name": "Load whitelist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdcca430-ea36-4926-af23-9565a445e99a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4cd8d027-d809-4a28-8055-3cc767817a75",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.from.username }}",
              "rightValue": "Channel_Bot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "14b575c3-22c3-4428-a04a-d29a0ce9c965",
      "name": "If account in whitelist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dca8fac4-22b8-45b1-95de-ce4c70b8d15a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "35df3718-6777-4b66-8edd-21f53616b5d6",
              "leftValue": "={{ $json.message.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        80
      ],
      "id": "5f014d99-9564-483b-8787-22e9fe24091e",
      "name": "If message contains text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "aaad4c23-0f52-47a3-bdb5-38f8a8630221",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "113754494",
        "message": "=*Ban Request*\n\n{{ $('Telegram Trigger').item.json.message.text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? $('Telegram Trigger').item.json.message.caption ?? 'empty message'}}\n\nUser: @{{ $('Telegram Trigger').item.json.message.from.username?.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? ''}}  \n[User link](tg://user?id={{ $('Telegram Trigger').item.json.message.from.id }}) \n\nChat: {{ $('Telegram Trigger').item.json.message.chat.title }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Ban",
            "disapproveLabel": "❌ Ignore"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 10,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        336
      ],
      "id": "6c1b1b86-ff01-47bb-a163-6c72ba247f76",
      "name": "Send message and wait for response",
      "webhookId": "843dc7db-d870-4959-90ca-e69157d7d2d8",
      "credentials": {
        "telegramApi": {
          "id": "tcX20TpSwtOgHBGq",
          "name": "Peredast"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7021f91d-ef50-4ecb-9601-4db1c21480a2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        336
      ],
      "id": "2990ff49-ac34-44ee-894a-fa5e2a7f134b",
      "name": "If Ban Approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7510518102:AAF1KknszCeU67VNLecAjXxJKghAgWvNlFE/banChatMember",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $node['Get chats'].json.chat_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        240
      ],
      "id": "1862a28d-0e5e-4126-84cd-2de681ff8a8f",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "no ban"
            },
            {
              "key": "from",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username }}"
            },
            {
              "key": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1920,
        432
      ],
      "id": "68e8b360-f208-4d68-883b-b6d255adc182",
      "name": "No Ban"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "no action"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "5edb718e-e99f-46a4-9890-2e1bd5b1789a",
      "name": "No Action"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "outcome",
              "value": "ban"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        2368,
        240
      ],
      "id": "ea1b7fb1-5871-42c1-a37d-8413d077bf69",
      "name": "Ban"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        576
      ],
      "id": "d16bb295-eea2-4a46-887c-2d8c2562c4d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "82kFMSuErz4YBXNW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Telegram Trigger').item.json.message.text ?? $('Telegram Trigger').item.json.message.caption }}",
        "categories": {
          "categories": [
            {
              "category": "job description (excluding animal-related)",
              "description": "text offering and promoting a job"
            },
            {
              "category": "ticket sales offer (excluding animal-themed)",
              "description": "text about selling tickets to an event"
            },
            {
              "category": "other",
              "description": "any text that is not about a job or selling something"
            },
            {
              "category": "pet-related",
              "description": "anything related to pets or mentioning pets"
            },
            {
              "category": "crypto exchange offer",
              "description": "offer to buy, sell, or exchange cryptocurrency"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        672,
        288
      ],
      "id": "37b5079e-531f-492a-a6f1-28a6ec2b9b32",
      "name": "Text Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "japQZ3uw0Xawsx8L",
          "mode": "list",
          "cachedResultName": "Telegram creds",
          "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/japQZ3uw0Xawsx8L"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "SpamFilter",
              "condition": "isTrue"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1920,
        240
      ],
      "id": "fd4d85ec-4342-4f22-bd43-907db3696bea",
      "name": "Get chats"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If message contains text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load whitelist": {
      "main": [
        [
          {
            "node": "If account in whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If account in whitelist": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If message contains text": {
      "main": [
        [
          {
            "node": "Load whitelist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If Ban Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ban Approved": {
      "main": [
        [
          {
            "node": "Get chats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chats": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uxiU7FOABx5M1moL",
    "timeSavedPerExecution": 1,
    "timezone": "Asia/Tbilisi"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 833076067,
          "message": {
            "message_id": 49834,
            "from": {
              "id": 7991947985,
              "is_bot": false,
              "first_name": "Ната",
              "is_premium": true
            },
            "chat": {
              "id": -1001247053710,
              "title": "CATEBI Chat",
              "username": "catebichat",
              "type": "supergroup"
            },
            "date": 1768056598,
            "text": "Срочно ищу на подработку перевозчиков! Вакансия доступна как для людей с автомобилем, так и для тех, у кого нет машины или прав. Возраст и опыт не имеют значения. Подробности в личных сообщениях."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e2b5994b-176b-4e92-9007-41a53a3d33b5",
  "activeVersionId": "30c3d4b9-d965-4092-a5aa-221b3184d94a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:08:56.500Z",
      "createdAt": "2025-11-25T07:08:56.500Z",
      "role": "workflow:owner",
      "workflowId": "BzPT7nQWQllqpcsO",
      "projectId": "jnu5GnxkoXUPZEif"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-10T15:29:22.000Z",
    "createdAt": "2026-01-10T15:29:11.564Z",
    "versionId": "30c3d4b9-d965-4092-a5aa-221b3184d94a",
    "workflowId": "BzPT7nQWQllqpcsO",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "chatIds": "-1001247053710, -1002113323185, -1001999193889, -1001870831470"
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -224,
          80
        ],
        "id": "a57e1413-51c3-4c93-8eb5-8f94b086e118",
        "name": "Telegram Trigger",
        "webhookId": "978a936c-8fc1-4c28-bb3e-2d69702da145",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteMessage",
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "messageId": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1248,
          336
        ],
        "id": "7d19429f-7252-4bf5-b54e-3ce17cd8b718",
        "name": "Delete a chat message",
        "webhookId": "684d0175-5b57-41be-856d-5e6dd53da1aa",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1024,
          336
        ],
        "id": "54d6a6c9-619e-441c-8de3-b7d225616e6c",
        "name": "Wait",
        "webhookId": "43d7ca97-8413-4831-be54-e11f0fc83f3f"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "GrE2DGG1g20sylSA",
            "mode": "list",
            "cachedResultName": "Telegram whitelist",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/GrE2DGG1g20sylSA"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "keyValue": "={{ $json.message.from.id }}"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          224,
          144
        ],
        "id": "5f95842e-8f6d-4a4c-a66d-58d53ec91363",
        "name": "Load whitelist",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bdcca430-ea36-4926-af23-9565a445e99a",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "4cd8d027-d809-4a28-8055-3cc767817a75",
                "leftValue": "={{ $('Telegram Trigger').item.json.message.from.username }}",
                "rightValue": "Channel_Bot",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          144
        ],
        "id": "14b575c3-22c3-4428-a04a-d29a0ce9c965",
        "name": "If account in whitelist"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dca8fac4-22b8-45b1-95de-ce4c70b8d15a",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "35df3718-6777-4b66-8edd-21f53616b5d6",
                "leftValue": "={{ $json.message.caption }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          0,
          80
        ],
        "id": "5f014d99-9564-483b-8787-22e9fe24091e",
        "name": "If message contains text"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1024,
          0
        ],
        "id": "aaad4c23-0f52-47a3-bdb5-38f8a8630221",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "113754494",
          "message": "=*Ban Request*\n\n{{ $('Telegram Trigger').item.json.message.text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? $('Telegram Trigger').item.json.message.caption ?? 'empty message'}}\n\nUser: @{{ $('Telegram Trigger').item.json.message.from.username?.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1') ?? ''}}  \n[User link](tg://user?id={{ $('Telegram Trigger').item.json.message.from.id }}) \n\nChat: {{ $('Telegram Trigger').item.json.message.chat.title }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "✅ Ban",
              "disapproveLabel": "❌ Ignore"
            }
          },
          "options": {
            "limitWaitTime": {
              "values": {
                "resumeAmount": 10,
                "resumeUnit": "minutes"
              }
            },
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1472,
          336
        ],
        "id": "6c1b1b86-ff01-47bb-a163-6c72ba247f76",
        "name": "Send message and wait for response",
        "webhookId": "843dc7db-d870-4959-90ca-e69157d7d2d8",
        "credentials": {
          "telegramApi": {
            "id": "tcX20TpSwtOgHBGq",
            "name": "Peredast"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7021f91d-ef50-4ecb-9601-4db1c21480a2",
                "leftValue": "={{ $json.data.approved }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1696,
          336
        ],
        "id": "2990ff49-ac34-44ee-894a-fa5e2a7f134b",
        "name": "If Ban Approved"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot7510518102:AAF1KknszCeU67VNLecAjXxJKghAgWvNlFE/banChatMember",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $node['Get chats'].json.chat_id }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2144,
          240
        ],
        "id": "1862a28d-0e5e-4126-84cd-2de681ff8a8f",
        "name": "HTTP Request",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "no ban"
              },
              {
                "key": "from",
                "value": "={{ $('Telegram Trigger').item.json.message.from.username }}"
              },
              {
                "key": "text",
                "value": "={{ $('Telegram Trigger').item.json.message.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1920,
          432
        ],
        "id": "68e8b360-f208-4d68-883b-b6d255adc182",
        "name": "No Ban"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "no action"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1248,
          0
        ],
        "id": "5edb718e-e99f-46a4-9890-2e1bd5b1789a",
        "name": "No Action"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "outcome",
                "value": "ban"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          2368,
          240
        ],
        "id": "ea1b7fb1-5871-42c1-a37d-8413d077bf69",
        "name": "Ban"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          752,
          576
        ],
        "id": "d16bb295-eea2-4a46-887c-2d8c2562c4d4",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "82kFMSuErz4YBXNW",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "inputText": "={{ $('Telegram Trigger').item.json.message.text ?? $('Telegram Trigger').item.json.message.caption }}",
          "categories": {
            "categories": [
              {
                "category": "job description (excluding animal-related)",
                "description": "text offering and promoting a job"
              },
              {
                "category": "ticket sales offer (excluding animal-themed)",
                "description": "text about selling tickets to an event"
              },
              {
                "category": "other",
                "description": "any text that is not about a job or selling something"
              },
              {
                "category": "pet-related",
                "description": "anything related to pets or mentioning pets"
              },
              {
                "category": "crypto exchange offer",
                "description": "offer to buy, sell, or exchange cryptocurrency"
              }
            ]
          },
          "options": {
            "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          672,
          288
        ],
        "id": "37b5079e-531f-492a-a6f1-28a6ec2b9b32",
        "name": "Text Classifier",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "japQZ3uw0Xawsx8L",
            "mode": "list",
            "cachedResultName": "Telegram creds",
            "cachedResultUrl": "/projects/jnu5GnxkoXUPZEif/datatables/japQZ3uw0Xawsx8L"
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1920,
          240
        ],
        "id": "fd4d85ec-4342-4f22-bd43-907db3696bea",
        "name": "Get chats"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If message contains text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Delete a chat message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load whitelist": {
        "main": [
          [
            {
              "node": "If account in whitelist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If account in whitelist": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Text Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message contains text": {
        "main": [
          [
            {
              "node": "Load whitelist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a chat message": {
        "main": [
          [
            {
              "node": "Send message and wait for response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "No Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message and wait for response": {
        "main": [
          [
            {
              "node": "If Ban Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Ban Approved": {
        "main": [
          [
            {
              "node": "Get chats",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Ban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Text Classifier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Text Classifier": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get chats": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexandra Ershova",
    "name": "Version 30c3d4b9",
    "description": "added crypto spam",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-25T04:52:01.067Z",
      "createdAt": "2025-11-25T04:52:01.067Z",
      "id": "BQEudI1tbEaTUl0F",
      "name": "catebi"
    },
    {
      "updatedAt": "2025-11-25T04:52:06.198Z",
      "createdAt": "2025-11-25T04:52:06.198Z",
      "id": "Qu6VjlYKDvK0D4RZ",
      "name": "telegram"
    }
  ]
}